{% extends 'writersnew/base.html' %}
{% block content %}

<section class="content">
        <div class="container-fluid">

            <!-- Widgets -->
            <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box bg-orange hover-expand-effect">
                                <div class="icon">
                                 <a href="{% url 'writers:create-profile' %}"><i class="material-icons">person_add</i></a>
                                </div>
                                <div class="content">
                                    <div class="text">ADD PROFILE</div>
                                </div>
                            </div>
                    </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-pink hover-expand-effect">
                        <div class="icon">
                         <a  href=""><i class="material-icons">playlist_add_check</i></a>
                        </div>
                        <div class="content">
                            <div class="text">Take Test</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-cyan hover-expand-effect">
                        <div class="icon">
                           <a  href=""><i class="material-icons">help</i></a>
                        </div>
                        <div class="content">
                            <div class="text">View Orders</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-light-green hover-expand-effect">
                        <div class="icon">
                          <a  href=""><i class="material-icons">forum</i></a>
                        </div>
                        <div class="content">
                            <div class="text">Setup Payment</div>
                            <div class="number count-to" data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </section>
    <section class="content">
        <div class="container-fluid">


            
            <!-- Basic Examples -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                     
            <!-- Exportable Table -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                                <h2>
                                  ALL ORDERS
                                </h2>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover dataTable js-exportable js-sweetalert">
                                    <thead>
                                        <tr>
                                            <th>ORDER ID</th>
                                            <th>TOPIC</th>
                                            <th>DEADLINE</th>
                                            <th>STATUS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="#"></a>734687</td>
                                            <td>Economics</td>
                                            <td>20/09/2018</td>
                                            <td> <span class="badge">Inprogress</span></td>
                                        </tr>
                                        <tr>
                                                <td><a href="#"></a>734687</td>
                                                <td>Economics</td>
                                                <td>20/09/2018</td>
                                                <td><button class="btn btn-primary waves-effect" data-type="prompt">Place Order</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                    <td><a href="#"></a>734687</td>
                                                    <td>Economics</td>
                                                    <td>20/09/2018</td>
                                                    <td> <span class="badge">Completed</span></td>
                                                </tr>
                                                <tr>
                                                        <td><a href="#"></a>734687</td>
                                                        <td>Economics</td>
                                                        <td>20/09/2018</td>
                                                        <td><button class="btn btn-primary waves-effect" data-type="prompt">Place Order</button>
                                                        </tr>
                                                    <tr>
                                                            <td><a href="#"></a>734687</td>
                                                            <td>Economics</td>
                                                            <td>20/09/2018</td>
                                                            <td><span class="badge">Completed</span></td>
                                                        </tr>
                                                       
                                      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Exportable Table -->
        </div>
    </section>
{% endblock content %}