{% extends 'index/base.html' %}
{% block content %}
    <section class="content">
        <div class="container-fluid">
            
            <!-- Basic Examples -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                     
             <!-- Basic Table -->
             <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                               All Orders
                                
                            </h2>
                            
                        </div>
                        <div class="body table-responsive">
                            <table class="table" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>Order ID</th>
                                        <th>Topic</th>
                                        <th>Deadline</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                {% for order in orders %}
                                <tbody>
                                    <tr>
                                        {% if order.bid_placed %}
                                        <td><a href="#"></a>{{ order.order_uuid }}</td>
                                
                                        {% else %}
                                        <td><a href="{% url 'writers:order_detail' order.order_uuid %}">{{ order.order_uuid }}</a></td>
                                    
                                        {% endif %}
                                        <td>{{ order.topic }}</td>
                                        <td>{{ order.deadline }}</td>
                                        {% if not  order.bid_placed %}
                                        <td><span class="badge bg-cyan waves-effect" style="font-size:14px;">Available <span class="badge"></span></span></td>
                                       
                                        {% else %}
                                        <td><span class="badge bg-green" style="font-size:14px;">Bid Placed</span></td>
                                     
                                        
                                        {% endif %}
                                        <td>
                                            <div class="btn-group">
                                                {% if not  order.bid_placed %}
                                                <button type="button" class="btn btn-primary  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    ACTION <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="{% url 'writers:order_detail' order.order_uuid %}"><span>
                                                            <div class="demo-google-material-icon"><i class="material-icons">insert_drive_file</i> <span class="icon-name"></span></div>
                                                    </span>View Order</a></li>
                                                    </ul>
                                                {% else %}
                                                <button type="button" class="btn btn-primary disabled dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        ACTION <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="javascript:void(0);"><span>
                                                            <div class="demo-google-material-icon"><i class="material-icons">insert_drive_file</i> <span class="icon-name"></span></div>
                                                    </span>View Order</a></li>
                                                    </ul>
                                               
                                                    {% endif %}

                                                
                                            </div>
                    
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    
                                </tbody>
                                
                            </table>
                        </div>
                        <nav>
                            <ul class="pagination">
                                <li class="disabled">
                                    <a href="javascript:void(0);">
                                        <i class="material-icons">chevron_left</i>
                                    </a>
                                </li>
                                <li class="active"><a href="javascript:void(0);">1</a></li>
                                <li><a href="javascript:void(0);" class="waves-effect">2</a></li>
                                <li><a href="javascript:void(0);" class="waves-effect">3</a></li>
                                <li><a href="javascript:void(0);" class="waves-effect">4</a></li>
                                <li><a href="javascript:void(0);" class="waves-effect">5</a></li>
                                <li>
                                    <a href="javascript:void(0);" class="waves-effect">
                                        <i class="material-icons">chevron_right</i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- #END# Basic Table -->
        </div>
    </section>

    <script>
        const pusher = new Pusher('39af9ceb44877b8cdef1', {
            cluster: 'eu',
            encrypted: true
        });
        Pusher.logToConsole = true;
        
        $(document).ready(function(){
      var dataTable = $("#dataTable").DataTable()
      var customerChannel = pusher.subscribe('Aeronautics');
      customerChannel.bind('add', function(data) {
      var date = new Date();
      dataTable.row.add([
          data.order_id,
          data.topic,
          data.deadline,

        ]).draw( false );
      });
    });
    </script>

   {% endblock content %}