
{% extends 'base.html' %}

{% load  static %}

{% block content %}


        <!--================Home Banner Area =================-->
        <section class="home_banner_area" style="height: 500px;">
                <div class="banner_inner">
                    <div class="container">
                        <div class="row banner_content">
                            <div class="col-lg-9">
                                <h2>Essay delimma?<br />Hire a Writer.</h2>
                                <p style="font-size: 24px;">We’ll make the grade</p>
                            </div>
                            <div class="col-lg-3">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--================End Home Banner Area =================-->
    
            <section class="service_feature element_service">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                              <h2 class="section-heading">Features</h2>
                            </div>
                          </div>
                        <div class="row feature_inner">
                            <div class="col-lg-4 col-md-6">
                                <div class="feature_item">
                                    <div class="f_icon">
                                        <img src="{% static 'img/icon/f-icon-4.png' %}" alt="">
                                    </div>
                                    <h4>Video Support</h4>
                                    <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="feature_item">
                                    <div class="f_icon">
                                        <img src="{% static 'img/icon/f-icon-5.png' %}" alt="">
                                    </div>
                                    <h4>Fast Support</h4>
                                    <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="feature_item">
                                    <div class="f_icon">
                                        <img src="{ static 'img/icon/f-icon-6.png' %}" alt="">
                                    </div>
                                    <h4>Download test</h4>
                                    <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
    
    
                <section class="service_feature element_service">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                  <h2 class="section-heading">The Essay Writing Process</h2>
                                </div>
                            </div>
                                            <div class="row" style="padding: 40px;">
                                                    <div class="col-md-6 col-sm-6 col-lg-6">
                                                            <div class="media">
                                                                    <div class="pull-left howes"><i class="fas fa-dollar-sign" style="font-size: 40px;margin-left: 9px;margin-top: 13px;" ></i></div>
                                                                    <div class="media-body">
                                                                        <h4 class="card-title" style="margin-bottom: 18px;">Tell us what you need - type of essay, number of pages, deadline.</h4>
                                                                    </div>
                                                                </div>
                                                    </div>
                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                        <div class="media">
                                                                <div class="pull-left howes"><i class="fas fa-dollar-sign" style="font-size: 40px;margin-left: 9px;margin-top: 13px;" ></i></div>
                                                                <div class="media-body">
                                                                    <h4 class="card-title" style="margin-bottom: 18px;">Receive paper drafts - stay in touch and check up on the progress.</h4>
                                                                </div>
                                                            </div>
                                                </div>
                                                </div>
                                                <div class="row" style="padding: 40px;">
                                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                                                <div class="media">
                                                                        <div class="pull-left howes"><i class="fas fa-dollar-sign" style="font-size: 40px;margin-left: 9px;margin-top: 13px;" ></i></div>
                                                                        <div class="media-body">
                                                                            <h4 class="card-title" style="margin-bottom: 18px;">Receive offers from writers - select the best writer and negotiate a price.</h4>
                                                                        </div>
                                                                    </div>
                                                        </div>
                                                    <div class="col-md-6 col-sm-6 col-lg-6">
                                                            <div class="media">
                                                                    <div class="pull-left howes"><i class="fas fa-dollar-sign" style="font-size: 40px;margin-left: 9px;margin-top: 13px;" ></i></div>
                                                                    <div class="media-body">
                                                                        <h4 class="card-title" style="margin-bottom: 18px;">Finalize the paper - request infinite adjustments until the paper is in top shape.</h4>
                                                                    </div>
                                                                </div>
                                                    </div>
                                                    </div>
                                                    <div class="row" style="padding: 40px;">
                                                            <div class="col-md-6 col-sm-6 col-lg-6">
                                                                    <div class="media">
                                                                            <div class="pull-left howes"><i class="fas fa-dollar-sign" style="font-size: 40px;margin-left: 9px;margin-top: 13px;" ></i></div>
                                                                            <div class="media-body">
                                                                                <h4 class="card-title" style="margin-bottom: 18px;">Download a winning essay!</h4>
                                                                            </div>
                                                                        </div>
                                                            </div>
                                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                                                <div class="media">
                                                                        <div class="pull-left howes"><i class="fas fa-dollar-sign" style="font-size: 40px;margin-left: 9px;margin-top: 13px;" ></i></div>
                                                                        <div class="media-body">
                                                                            <h4 class="card-title" style="margin-bottom: 18px;">Approve a thesis and outline - approve of the writer’s method before they start writing .</h4>
                                                                        </div>
                                                                    </div>
                                                        </div>
                            </div>
                        </div>
                </section>
    
    
                <section style="padding-top: 60px;height: 600px;">
                    <div class="container">
                        <div class="row">
                        <div class="col-lg-7">
                            <h3 style="margin-bottom: 50px;">Personal Essay Writer - Your Source Of an A+ Paper</h3>
                            <p class="p12">The essay writer will work to implement your ideas into a unique custom essay</p>
                            <p class="p12">Each job applicant provides a university diploma to validate their proficiency.</p>
                            <p class="p12">Long-term collaborators gain more experience with each completed order.</p>
                            <p class="p12">Customer feedback helps writers stay on top of their game!</p>
                        </div>
                        <div class="col-lg-5">
                                        <div class="feature_item" id="litle" style="width: 280px;  height: 30px;">
                                                <div class="single_sidebar_widget author_widget" style="height: 450px;">
                                                        <img class="author_img rounded-circle" src="{ static 'img/blog/author.png' %}" alt="">
                                                        <h4>Charlie Barber</h4>
                                                        <p>Senior blog writer</p>
                                                        <div class="social_icon">
                                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                                            <a href="#"><i class="fa fa-github"></i></a>
                                                            <a href="#"><i class="fa fa-behance"></i></a>
                                                        </div>
                                                        <p>Boot camps have its supporters andit sdetractors.</p>
                                                        <div class="br"></div>
                                                    </div>
                                        </div>
                        </div>
                    </div>
                    </div>
                </section>
    
        
                <section class="service_feature element_service">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                              <h2 class="section-heading">The Essay Writing Process</h2>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-6 col-sm-6 col-lg-6">
                                        <div class="media">
                                                <div class="pull-left how" style="
            margin-right: 30px;
        "><i class="fas fa-eye" style=" font-size: 40px; margin-left: 11px; margin-top: 12px;" ></i></div>
                                                <div class="media-body">
                                                    <h4 class="card-title" style="margin-bottom: 18px;">Full Confidentiality</h4>
                                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque </p>
                                                </div>
                                            </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-lg-6">
                                        <div class="media">
                                                <div class="pull-left how" style="
            margin-right: 30px;
        "><i class="fa fa-comments" style=" font-size: 40px; margin-left: 11px; margin-top: 12px;" ></i></div>
                                                <div class="media-body">
                                                    <h4 class="card-title" style="margin-bottom: 18px;">Swift Delivery</h4>
                                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque </p>
                                                </div>
                                            </div>
                                </div>
        
                            </div>
                        <div class="row" style="
                        margin-top: 50px;
                        margin-bottom:  50px;
                    ">
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                    <div class="media">
                                            <div class="pull-left how" style="
        margin-right: 30px;
    "><i class="fas fa-eye" style=" font-size: 40px; margin-left: 11px; margin-top: 12px;" ></i></div>
                                            <div class="media-body">
                                                <h4 class="card-title" style="margin-bottom: 18px;">Customer Support Working 24/7</h4>
                                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque </p>
                                            </div>
                                        </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                    <div class="media">
                                            <div class="pull-left how" style="
        margin-right: 30px;
    "><i class="fa fa-comments" style=" font-size: 40px; margin-left: 11px; margin-top: 12px;" ></i></div>
                                            <div class="media-body">
                                                <h4 class="card-title" style="margin-bottom: 18px;">Writer Bidding System</h4>
                                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque </p>
                                            </div>
                                        </div>
                            </div>
    
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                    <div class="media">
                                            <div class="pull-left how" style="
        margin-right: 30px;
    "><i class="fas fa-eye" style=" font-size: 40px; margin-left: 11px; margin-top: 12px;" ></i></div>
                                            <div class="media-body">
                                                <h4 class="card-title" style="margin-bottom: 18px;">Pay For Progress</h4>
                                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque </p>
                                            </div>
                                        </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                    <div class="media">
                                            <div class="pull-left how" style="
        margin-right: 30px;
    "><i class="fa fa-comments" style=" font-size: 40px; margin-left: 11px; margin-top: 12px;" ></i></div>
                                            <div class="media-body">
                                                <h4 class="card-title" style="margin-bottom: 18px;">Forget About Plagiarism</h4>
                                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque </p>
                                            </div>
                                        </div>
                            </div>
    
                        </div>
                    </div>
            </section>
    
    
            <section class="service_feature element_service">
                    <div class="container text-center">
                            <h2 class="section-heading" style="margin-bottom: 50px;">The Essay Writing Process</h2>
                            <p>Everything you need to know before ordering a custom writing.</p>
                        <div class="row">
                            <div class="col">
                                <div class="panel panel-white post panel-shadow">
                                    <div class="post-description"> 
                                        <p>How does the payment system work?</p>
                                        <p>The payment system is simple; You only pay AFTER you are satisfied with the finished product. Customers are allowed an unlimited number of edits, so make sure to get exactly what you are looking for!</p>
                                        <div class="stats">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                                <div class="col">
                                        <div class="panel panel-white post panel-shadow">
                                            <div class="post-description"> 
                                                <p>How does the payment system work?</p>
                                                <p>The payment system is simple; You only pay AFTER you are satisfied with the finished product. Customers are allowed an unlimited number of edits, so make sure to get exactly what you are looking for!</p>
                                                <div class="stats">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
    
                            <div class="row">
                                    <div class="col">
                                            <div class="panel panel-white post panel-shadow">
                                                <div class="post-description"> 
                                                    <p>How does the payment system work?</p>
                                                    <p>The payment system is simple; You only pay AFTER you are satisfied with the finished product. Customers are allowed an unlimited number of edits, so make sure to get exactly what you are looking for!</p>
                                                    <div class="stats">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                  </div>
              </section>

            
{% endblock content %}