

{% extends "base.html" %}

{% load  static %}

{% block content %}





<section style="margin-top: 150px;height: 1000px;">
    <div class="container">
        <p style="margin-top: 40px;">Home / Writers</p>
        <h2>Professional Essay Writers for Hire</h2>
        <div></div>
    </div>
    <div class="container" style="padding: 30px;">
        <p style="margin-top: 20px; margin-bottom: 40px;">In short, the unified goal of EssayPro is to make sure that each client can confidently say: “I let the pros write my essay - and now my A is in the bank!". Having satisfied customers make us happy. It helps us to guarantee that when we hire an essay writer, there is a complete assurance of the expert’s competence.</p>
        <p>A high satisfaction rate comes from our skills in scouting out talented writers and editors. These naturally skilled paper writers are thoroughly and rigorously trained even after being accepted to our team. It involves multiple timed performance tests to ensure that they can handle themselves under the highest pressure. Along with it, we help each one hone their abilities when working with our essay writing service.</p>
    </div>
    <div class="container">
            <div class="row">
                <div class="col-lg-5">                            
                            <div class="blog_right_sidebar" style="padding-left: 50px; padding-right: 50px;">
                                <aside class="single_sidebar_widget post_category_widget" style="border: 1px transparent;">
                                    <h4 class="widget_title">The Best Essay Writers Online
                                        </h4>
                                    <ul class="list cat-list">
                                        <li>
                                            <a href="#" class="d-flex justify-content-between">
                                                <p>Technology</p>
                                                <p>37</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="d-flex justify-content-between">
                                                <p>Lifestyle</p>
                                                <p>24</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="d-flex justify-content-between">
                                                <p>Fashion</p>
                                                <p>59</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="d-flex justify-content-between">
                                                <p>Art</p>
                                                <p>29</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="d-flex justify-content-between">
                                                <p>Food</p>
                                                <p>15</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="d-flex justify-content-between">
                                                <p>Architecture</p>
                                                <p>09</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="d-flex justify-content-between">
                                                <p>Adventure</p>
                                                <p>44</p>
                                            </a>
                                        </li>															
                                    </ul>
                                    <div class="br"></div>
                                </aside>
                            </div>
                </div>
                <div class="col-lg-7">
                  <nav>
                    <div class="nav nav-tabs justify-content-end nav-fill" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Rating</a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Orders</a>
                      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Completion</a>
                    </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"><div class="row">
                      <div class="col">
                        <hr/>
                        <div class="review-block first">
                          <div class="row">
                            <div class="col-sm-3">
                              <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                              <div class="review-block-name"><a href="#">nktailor</a></div>
                              <div class="review-block-date">January 29, 2016<br/>1 day ago</div>
                            </div>
                            <div class="col-sm-9">
                              <div class="review-block-rate">
                                <span class="fa fa-star" id="star1" onclick="add(this,1)"></span>
                               <span class="fa fa-star" id="star2" onclick="add(this,2)"></span>
                               <span class="fa fa-star" id="star3" onclick="add(this,3)"></span>
                               <span class="fa fa-star" id="star4" onclick="add(this,4)"></span>
                               <span class="fa fa-star" id="star5" onclick="add(this,5)"></span>

                              </div>
                              <div class="review-block-title">Top Rating</div>
                              <div class="review-block-description">Top Rating. Top Rating. Top Rating. Top Rating Top Rating Top Rating Top Rating Top Rating</div>
                            </div>
                          </div>
                          <hr/>
                          <div class="row">
                            <div class="col-sm-3">
                              <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                              <div class="review-block-name"><a href="#">nktailor</a></div>
                              <div class="review-block-date">January 29, 2016<br/>1 day ago</div>
                            </div>
                            <div class="col-sm-9">
                              <div class="review-block-rate">
                                <span class="fa fa-star" id="star1" onclick="add(this,1)"></span>
                                <span class="fa fa-star" id="star2" onclick="add(this,2)"></span>
                                <span class="fa fa-star" id="star3" onclick="add(this,3)"></span>
                                <span class="fa fa-star" id="star4" onclick="add(this,4)"></span>
                                <span class="fa fa-star" id="star5" onclick="add(this,5)"></span>                                        
                              </div>
                              <div class="review-block-title">Top Rating</div>
                              <div class="review-block-description">Top Rating. Top Rating. Top Rating. Top Rating Top Rating Top Rating Top Rating Top Rating</div>
                            </div>
                          </div>
                          <hr/>
                          <div class="row">
                            <div class="col-sm-3">
                              <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                              <div class="review-block-name"><a href="#">nktailor</a></div>
                              <div class="review-block-date">January 29, 2016<br/>1 day ago</div>
                            </div>
                            <div class="col-sm-9">
                              <div class="review-block-rate">
                                <span class="fa fa-star" id="star1" onclick="add(this,1)"></span>
                                <span class="fa fa-star" id="star2" onclick="add(this,2)"></span>
                                <span class="fa fa-star" id="star3" onclick="add(this,3)"></span>
                                <span class="fa fa-star" id="star4" onclick="add(this,4)"></span>
                                <span class="fa fa-star" id="star5" onclick="add(this,5)"></span>   
                              </div>
                              <div class="review-block-title">Torate</div>
                              <div class="review-block-description">Top Rating. Top Rating. Top Rating. Top Rating Top Rating Top Rating Top Rating Top Rating</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>








                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      <div class="col second">
                        <hr/>
                        <div class="review-block">
                            <div class="row">
                                <div class="col-sm-3">
                                  <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                                  <div class="review-block-name"><a href="#">nktailor</a></div>
                                  <div class="review-block-date">January 29, 2016<br/>1 day ago</div>
                                </div>
                                <div class="col-sm-9">
                                  <div class="review-block-rate">
                                    <span class="fa fa-star" id="star1" onclick="add(this,1)"></span>
                                    <span class="fa fa-star" id="star2" onclick="add(this,2)"></span>
                                    <span class="fa fa-star" id="star3" onclick="add(this,3)"></span>
                                    <span class="fa fa-star" id="star4" onclick="add(this,4)"></span>
                                    <span class="fa fa-star" id="star5" onclick="add(this,5)"></span>   
                                  </div>
                                  <div class="review-block-title">Torate</div>
                                  <div class="review-block-description">Top Rating. Top Rating. Top Rating. Top Rating Top Rating Top Rating Top Rating Top Rating</div>
                                </div>
                              </div>
                          <hr/>
                          <div class="row">
                              <div class="col-sm-3">
                                <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                                <div class="review-block-name"><a href="#">nktailor</a></div>
                                <div class="review-block-date">January 29, 2016<br/>1 day ago</div>
                              </div>
                              <div class="col-sm-9">
                                <div class="review-block-rate">
                                  <span class="fa fa-star" id="star1" onclick="add(this,1)"></span>
                                  <span class="fa fa-star" id="star2" onclick="add(this,2)"></span>
                                  <span class="fa fa-star" id="star3" onclick="add(this,3)"></span>
                                  <span class="fa fa-star" id="star4" onclick="add(this,4)"></span>
                                  <span class="fa fa-star" id="star5" onclick="add(this,5)"></span>   
                                </div>
                                <div class="review-block-title">Torate</div>
                                <div class="review-block-description">Top Rating. Top Rating. Top Rating. Top Rating Top Rating Top Rating Top Rating Top Rating</div>
                              </div>
                            </div>
                          <hr/>
                          <div class="row">
                              <div class="col-sm-3">
                                <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                                <div class="review-block-name"><a href="#">nktailor</a></div>
                                <div class="review-block-date">January 29, 2016<br/>1 day ago</div>
                              </div>
                              <div class="col-sm-9">
                                <div class="review-block-rate">
                                  <span class="fa fa-star" id="star1" onclick="add(this,1)"></span>
                                  <span class="fa fa-star" id="star2" onclick="add(this,2)"></span>
                                  <span class="fa fa-star" id="star3" onclick="add(this,3)"></span>
                                  <span class="fa fa-star" id="star4" onclick="add(this,4)"></span>
                                  <span class="fa fa-star" id="star5" onclick="add(this,5)"></span>   
                                </div>
                                <div class="review-block-title">Torate</div>
                                <div class="review-block-description">Top Rating. Top Rating. Top Rating. Top Rating Top Rating Top Rating Top Rating Top Rating</div>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                      <div class="col third">
                        <hr/>
                        <div class="review-block">
                          <div class="row">
                            <div class="col-sm-3">
                              <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                              <div class="review-block-name"><a href="#">nktailor</a></div>
                              <div class="review-block-date">January 29, 2016<br/>1 day ago</div>
                            </div>
                            <div class="col-sm-9">
                              <div class="review-block-rate">
                                <span class="fa fa-star" id="star1" onclick="add(this,1)"></span>
                               <span class="fa fa-star" id="star2" onclick="add(this,2)"></span>
                               <span class="fa fa-star" id="star3" onclick="add(this,3)"></span>
                               <span class="fa fa-star" id="star4" onclick="add(this,4)"></span>
                               <span class="fa fa-star" id="star5" onclick="add(this,5)"></span>

                              </div>
                              <div class="review-block-title">Top Rating</div>
                              <div class="review-block-description">Top Rating. Top Rating. Top Rating. Top Rating Top Rating Top Rating Top Rating Top Rating</div>
                            </div>
                          </div>
                          <hr/>
                          <div class="row">
                            <div class="col-sm-3">
                              <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                              <div class="review-block-name"><a href="#">nktailor</a></div>
                              <div class="review-block-date">January 29, 2016<br/>1 day ago</div>
                            </div>
                            <div class="col-sm-9">
                              <div class="review-block-rate">
                                <span class="fa fa-star" id="star1" onclick="add(this,1)"></span>
                                <span class="fa fa-star" id="star2" onclick="add(this,2)"></span>
                                <span class="fa fa-star" id="star3" onclick="add(this,3)"></span>
                                <span class="fa fa-star" id="star4" onclick="add(this,4)"></span>
                                <span class="fa fa-star" id="star5" onclick="add(this,5)"></span>                                        
                              </div>
                              <div class="review-block-title">Top Rating</div>
                              <div class="review-block-description">Top Rating. Top Rating. Top Rating. Top Rating Top Rating Top Rating Top Rating Top Rating</div>
                            </div>
                          </div>
                          <hr/>
                          <div class="row">
                            <div class="col-sm-3">
                              <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                              <div class="review-block-name"><a href="#">nktailor</a></div>
                              <div class="review-block-date">January 29, 2016<br/>1 day ago</div>
                            </div>
                            <div class="col-sm-9">
                              <div class="review-block-rate">
                                <span class="fa fa-star" id="star1" onclick="add(this,1)"></span>
                                <span class="fa fa-star" id="star2" onclick="add(this,2)"></span>
                                <span class="fa fa-star" id="star3" onclick="add(this,3)"></span>
                                <span class="fa fa-star" id="star4" onclick="add(this,4)"></span>
                                <span class="fa fa-star" id="star5" onclick="add(this,5)"></span>   
                              </div>
                              <div class="review-block-title"></div>
                              <div class="review-block-description">Top Rating. Top Rating. Top Rating. Top Rating Top Rating Top Rating Top Rating Top Rating</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}