{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="fontsabout/icomoon/style.css">

    <link rel="stylesheet" href="{% static 'cssabout/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'cssabout/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'cssabout/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'cssabout/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'cssabout/owl.theme.default.min.css' %}">


    <link rel="stylesheet" href="{% static 'cssabout/aos.css' %}">

    <link rel="stylesheet" href="{% static 'cssabout/style.css' %}">
    
  </head>
  <body>
        <section class="service_feature element_service">
                <div class="container">
                    <div class="row">
              <div class="col-lg-12 text-center">
              </div>
              </div>
  <div class="site-wrap">
    <div class="site-section border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <div class="block-16">
              <figure>
                <img src="{% static 'img/plann.gif' %}" alt="Image placeholder" class="img-fluid rounded">

              </figure>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            
            
            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">Who We Are</h2>
            </div>
            <p>We are a Student-Writer platform that assists students with fulfilling their educational tasks. Our service helps students formulate and fix academic assignments by trusting them to professionals that are well-versed in university requisites.</p>
            <p>By purchasing writing or editing services from us, you are guaranteeing yourself the elite-level guidance that will boost your grades!</p>
            
          </div>
        </div>
      </div>
    </div>

    <div class="site-wrap">
            <div class="site-section border-bottom" data-aos="fade">
              <div class="container">
                <div class="row mb-5">
                  <div class="col-md-6">
                    <div class="block-16">
                      <figure>
                        <img src="{% static 'img/innovate.gif' %}" alt="Image placeholder" class="img-fluid rounded">
        
                      </figure>
                    </div>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-5">
                    
                    
                    <div class="site-section-heading pt-3 mb-4">
                      <h2 class="text-black">An Innovative Approach</h2>
                    </div>
                    <p>The key to our success is combining best practices with high-quality standards in essay writing service with innovative approach to customer support.</p>                    
                  </div>
                </div>
              </div>
            </div>

    <div class="site-section border-bottom" data-aos="fade">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>The Team</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3">
  
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{% static 'imagesabout/person_1.jpg' %}" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Elizabeth Graham</h3>
                  <p class="block-38-subheading">CEO/Co-Founder</p>
                </div>
                <div class="block-38-body">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{% static 'imagesabout/person_2.jpg' %}" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Jennifer Greive</h3>
                  <p class="block-38-subheading">Co-Founder</p>
                </div>
                <div class="block-38-body">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{% static 'imagesabout/person_3.jpg' %}" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Patrick Marx</h3>
                  <p class="block-38-subheading">Marketing</p>
                </div>
                <div class="block-38-body">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{% static 'imagesabout/person_4.jpg' %}" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Mike Coolbert</h3>
                  <p class="block-38-subheading">Sales Manager</p>
                </div>
                <div class="block-38-body">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </section>

  <script src="{% static 'jsabout/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'jsabout/jquery-ui.js' %}"></script>
  <script src="{% static 'jsabout/popper.min.js' %}"></script>
  <script src="{% static 'jsabout/bootstrap.min.js' %}"></script>
  <script src="{% static 'jsabout/owl.carousel.min.js' %}"></script>
  <script src="{% static 'jsabout/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'jsabout/aos.js' %}"></script>

  <script src="{% static 'jsabout/main.js' %}"></script>
    
  </body>
</html>


{% endblock content %}