
{% extends "base.html" %}

{% load  static %}

{% block content %}




 <header class="masthead how-to-order text-center text-white d-flex">
    <div class="container my-auto">
            <h1>Order an Essay at EssayPro</h1>
            <hr>
            <p>Our essay writing service employs hundreds of qualified essay writers who specialize in different subject areas. It allows us to create a wide variety of papers on any topic and always achieve a good result. We also guarantee fast delivery 100% plagiarism free content, protection of your personal information, and low-cost and flawless quality!</p>
    </div>
  </header>


  <section class="interior_area interior_two">
    <div class="container">
        <div class="interior_inner row">
            <div class="col-lg-5 offset-lg-1">
                <div class="interior_text">
                    <h4><span>Step One</span> Place an order online</h4>
                    <p>Once you have created your account at EssayPro, simply submit the assignment details such as topic, the number of pages, different sources needed, formatting style, and order deadline. It is also possible to upload any additional files to further help the essay writer with the task and imitating your writing style.</p>
                    <a class="main_btn" href="{% url 'account_signup' %}">Start Now</a>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="{% static 'img/interior.gif' %}" alt="">
            </div>
        </div>
        
    </div>
</section>


    <section class="interior_area">
        <div class="container">
            <div class="interior_inner row">
                <div class="col-lg-6">
                    <img class="img-fluid" src="{% static 'img/wrok.gif' %}" alt="">
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="interior_text">
                        <h4><span>Step Two</span> Place an order online</h4>
                        <p>Once you have created your account at EssayPro, simply submit the assignment details such as topic, the number of pages, different sources needed, formatting style, and order deadline. It is also possible to upload any additional files to further help the essay writer with the task and imitating your writing style.</p>
                        <a class="main_btn" href="{% url 'account_signup' %}">Start Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


   <!--================Interior Area =================-->
   <section class="interior_area interior_two">
    <div class="container">
        <div class="interior_inner row">
            <div class="col-lg-5 offset-lg-1">
                <div class="interior_text">
                    <h4><span>Step Three</span> Place an order online</h4>
                    <p>Once you have created your account at EssayPro, simply submit the assignment details such as topic, the number of pages, different sources needed, formatting style, and order deadline. It is also possible to upload any additional files to further help the essay writer with the task and imitating your writing style.</p>
                    <a class="main_btn" href="{% url 'account_signup' %}">Start Now</a>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="{% static 'img/pay.gif' %}" alt="">
            </div>
        </div>
        
    </div>
</section>

<section class="interior_area">
    <div class="container">
        <div class="interior_inner row">
            <div class="col-lg-6">
                <img class="img-fluid" src="{% static 'img/rate.gif' %}" alt="">
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="interior_text">
                    <h4><span>Step Three</span> Place an order online</h4>
                    <p>Once you have created your account at EssayPro, simply submit the assignment details such as topic, the number of pages, different sources needed, formatting style, and order deadline. It is also possible to upload any additional files to further help the essay writer with the task and imitating your writing style.</p>
                    <a class="main_btn" href="{% url 'account_signup' %}">Start Now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="interior_area interior_two">
    <div class="container">
        <div class="interior_inner row">
            <div class="col-lg-5 offset-lg-1">
                <div class="interior_text">
                    <h4><span>Step Four</span> Place an order online</h4>
                    <p>Once you have created your account at EssayPro, simply submit the assignment details such as topic, the number of pages, different sources needed, formatting style, and order deadline. It is also possible to upload any additional files to further help the essay writer with the task and imitating your writing style.</p>
                    <a class="main_btn" href="{% url 'account_signup' %}">Start Now</a>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="{% static 'img/download2.gif' %}" alt="">
            </div>
        </div>
    </div>
</section>

            {% endblock %}