


{% extends "base.html" %}

{% load  static %}

{% block content %}






  
<section class="testimonials_area p_120">
  <div class="container">
    <div class="main_title">
      <h2>Customer Reviews</h2>
    </div>
    <div class="testi_slider owl-carousel row">
      <div class="item col-lg-6">
        <div class="testi_item">
      <div class="media">
        <div class="d-flex">
            <img class="author_img rounded-circle" src="{% static 'img/12390.jpg' %}" style="width: 110px; height: 120px; border-radius: 30%;" alt="">
          </div>
        <div class="media-body">
          <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
          <h4>Mark Alviro Wiens</h4>
          <h5>Order 987683</h5>
        </div>
      </div>
        </div>
      </div>
      <div class="item col-lg-6">
        <div class="testi_item">
      <div class="media">
        <div class="d-flex">
            <img class="author_img rounded-circle" src="{% static 'img/8.jpg' %}" style="width: 110px; height: 120px; border-radius: 30%;" alt="">
        </div>
        <div class="media-body">
          <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
          <h4>Mark Alviro Wiens</h4>
          <h5>Order 687383</h5>
        </div>
      </div>
        </div>
      </div>
    </div>
    <div class="testi_slider owl-carousel row">
      <div class="item col-lg-6">
        <div class="testi_item">
      <div class="media">
        <div class="d-flex">
            <img class="author_img rounded-circle" src="{% static 'img/888.jpg' %}" style="width: 110px; height: 120px; border-radius: 30%;" alt="">
        </div>
        <div class="media-body">
          <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
          <h4>Mark Alviro Wiens</h4>
          <h5>Order 987683</h5>
        </div>
      </div>
        </div>
      </div>
      <div class="item col-lg-6">
        <div class="testi_item">
      <div class="media">
        <div class="d-flex">
            <img class="author_img rounded-circle" src="{% static 'img/909.png' %}" style="width: 110px; height: 120px; border-radius: 30%;" alt="">
        </div>
        <div class="media-body">
          <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
          <h4>Mark Alviro Wiens</h4>
          <h5>Order 687383</h5>
        </div>
      </div>
        </div>
      </div>
    </div>

    <div class="testi_slider owl-carousel row">
            <div class="item col-lg-6">
              <div class="testi_item">
            <div class="media">
              <div class="d-flex">
                  <img class="author_img rounded-circle" src="{% static 'img/987.jpg' %}" style="width: 110px; height: 120px; border-radius: 30%;" alt="">
                </div>
              <div class="media-body">
                <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
                <h4>Mark Alviro Wiens</h4>
                <h5>Order 987683</h5>
              </div>
            </div>
              </div>
            </div>
            <div class="item col-lg-6">
              <div class="testi_item">
            <div class="media">
              <div class="d-flex">
                  <img class="author_img rounded-circle" src="{% static 'img/women.jpg' %}" style="width: 110px; height: 120px; border-radius: 30%;" alt="">
                </div>
              <div class="media-body">
                <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
                <h4>Mark Alviro Wiens</h4>
                <h5>Order 687383</h5>
              </div>
            </div>
              </div>
            </div>
          </div>


                                
    <div class="text-center" style="margin-top: 60px;">
    <a class="banner_btn btn-header" href="#" style="border-radius: 20px;">View More</a>
  </div>
  </div>
</section>
<!--================End Testimonials Area =================-->


{% endblock %}


