
{% extends 'base.html' %}
{% load static %}
{% block content %}


     <!--================Home Banner Area =================-->
     <section class="home_banner_area" style="height: 500px;">
            <div class="banner_inner">
                <div class="container">
                    <div class="row banner_content"style="padding-top: 0px;">
                        <div class="col-lg-9">
                            <h2>Essay delimma?<br />Hire a Writer.</h2>
                            <p style="font-size: 24px;">We’ll make the grade</p>
                        </div>
                        <div class="col-lg-3">
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->

        
        <section class="service_feature element_service">
                <div class="container">
                        <div class="main_title">
                            <h2 style="padding-left: 70px; padding-right: 70px;" id="header">Keep Calm & Get Top Grades Like a Pro</h2>
                            <p style="font-size: 18px;">The road to a college degree is full of twists and turns. When using EssayPro, the chaotic ride turns into a smooth-sailing experience!</p>
                        </div>
                    <div class="row feature_inner">
                        <div class="col-lg-4 col-md-6">
                            <div class="feature_item">
                                <div class="f_icon">
                                    <img src="{% static 'img/icon/f-icon-4.png' %}" alt="">
                                </div>
                                <h4>Video Support</h4>
                                <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="feature_item">
                                <div class="f_icon">
                                    <img src="{% static 'img/icon/f-icon-5.png' %}" alt="">
                                </div>
                                <h4>Fast Support</h4>
                                <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="feature_item">
                                <div class="f_icon">
                                    <img src="{% static 'img/icon/f-icon-6.png' %}" alt="">
                                </div>
                                <h4>Download test</h4>
                                <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. </p>
                            </div>
                        </div>
                    </div>
                    <div class="row feature_inner">
                        <div class="col-lg-4 col-md-6">
                            <div class="feature_item">
                                <div class="f_icon">
                                    <img src="{% static 'img/icon/f-icon-4.png' %}" alt="">
                                </div>
                                <h4>Video Support</h4>
                                <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="feature_item">
                                <div class="f_icon">
                                    <img src="{% static 'img/icon/f-icon-5.png' %}" alt="">
                                </div>
                                <h4>Fast Support</h4>
                                <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="feature_item">
                                <div class="f_icon">
                                    <img src="{% static 'img/icon/f-icon-6.png' %}" alt="">
                                </div>
                                <h4>Download test</h4>
                                <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="interior_area interior_two">
                    <div class="container">
                        <div class="interior_inner row">
                            <div class="col-lg-5 offset-lg-1">
                                <div class="interior_text">
                                    <h4>Who are Our Essay Writers?</h4>
                                    <p>EssayPro writers are skilled native-speakers with experience in multiple subject areas. For example, admission essays are done by those whose proficiency is writing narratives and applications. Dissertations are written by the Ph.D. level writers with extensive writing experience. Each essay writer will work with you to explore and incorporate fresh ideas into the text.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <img class="img-fluid" src="{% static 'img/interior-2.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </section>
    
                <section id="dissertation" class="container-fluid" style="margin-top: 70px;">
                        <div class="container">
                          <div class="row" style="padding: 30px;">
                            <div class="col-lg-4 col-md-6 text-center">
                              <div class="service-box mt-5 mx-auto">
                                <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
                                <h5 class="mb-3">Any Deadline - Any Subject</h5>
                                <p class="mb-0">Our professional paper writers can complete any assignment, regardless of topic or difficulty.</p>
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-6 text-center">
                              <div class="service-box mt-5 mx-auto">
                                <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
                                <h5 class="mb-3">Email and SMS Notifications</h5>
                                <p class=" mb-0">Stay informed 24/7 through order updates, new chat messages, uploaded files, etc.</p>
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-6 text-center">
                              <div class="service-box mt-5 mx-auto">
                                <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
                                <h5 class="mb-3">Online Writer Chat</h5>
                                <p class="text-muted mb-0">Communicate with your writer at any time to discuss assignment details, request edits, etc.</p>
                              </div>
                            </div>
                          </div>
                          <div class="row text-center" style="padding: 40px;">
                              <div class="col-lg-12" id="buttonhigher">
                                <a class="banner_btn btn-header" id="findwriter" href="#">Find A Writer</a>
                              </div>
                          </div>
                        </div>
                      </section>
    
                      <section class="testimonials_area p_120">
                            <div class="container">
                              <div class="main_title">
                                <h2>Customer Reviews</h2>
                              </div>
                              <div class="testi_slider owl-carousel row">
                                <div class="item col-lg-6">
                                  <div class="testi_item">
                                <div class="media">
                                  <div class="d-flex">
                                    <img class="author_img rounded-circle" src="{% static 'img/customer3.jpg' %}" style="width: 130px; height: 150px; border-radius: 30%;" alt="">
                                  </div>
                                  <div class="media-body">
                                    <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
                                    <h4>Raye Neaves</h4>
                                  </div>
                                </div>
                                  </div>
                                </div>
                                <div class="item col-lg-6">
                                  <div class="testi_item">
                                <div class="media">
                                  <div class="d-flex">
                                    <img class="author_img rounded-circle" src="{% static 'img/cuuz.jpg' %}" style="width: 130px; height: 150px; border-radius: 30%;" alt="">
                                  </div>
                                  <div class="media-body">
                                    <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
                                    <h4>Maile Concannons</h4>
                                  </div>
                                </div>
                                  </div>
                                </div>
                              </div>
                              <div class="testi_slider owl-carousel row">
                                <div class="item col-lg-6">
                                  <div class="testi_item">
                                <div class="media">
                                  <div class="d-flex">
                                    <img class="author_img rounded-circle" src="{% static 'img/profile3.png' %}" style="width: 130px; height: 150px; border-radius: 30%;" alt="">
                                  </div>
                                  <div class="media-body">
                                    <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
                                    <h4>Season Lucier</h4>
                                  </div>
                                </div>
                                  </div>
                                </div>
                                <div class="item col-lg-6">
                                  <div class="testi_item">
                                <div class="media">
                                  <div class="d-flex">
                                    <img class="author_img rounded-circle" src="{% static 'img/third.jpg' %}" style="width: 130px; height: 150px; border-radius: 30%;" alt="">
                                  </div>
                                  <div class="media-body">
                                    <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
                                    <h4>Lita Kenan</h4>
                                  </div>
                                </div>
                                  </div>
                                </div>
                              </div>
                              <div class="text-center" style="margin-top: 60px;">
                              <a class="banner_btn btn-header" href="#" style="border-radius: 20px;">View All</a>
                            </div>
                            </div>
                          </section>
{% endblock content %}