
{% extends 'base.html' %}
{% load static %}
{% block content %}

       <section class="home_banner_area" style="height: 500px;">
            <div class="banner_inner">
				<div class="container">
					<div class="row banner_content"style="padding-top: 0px;">
						<div class="col-lg-9">
							<h2>Essay delimma?<br />Hire a Writer.</h2>
							<p style="font-size: 24px;">We’ll make the grade</p>
						</div>
						<div class="col-lg-3">
                            
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->

        
        
              <section class="container-fluid" style="background-color: #f0f2f6;">
                  <div class="container" id="expert2">
                        <h2 style="color:  #7249fb;margin-bottom: 30px;margin-left: 30px;margin-top: 40px;">Striving For Your Academic Success</h2>
                        <p style="font-size: 20px">Our research paper writing service is built for students who urgently need to get help with their academic tasks.</p>
                        <p style="font-size: 20px; margin-bottom: 80px;">We work to ensure that every research paper contributes to improving your GPA, so you can keep up academically while being focused on your personal goals. Here’s more about what makes us great:</p>
                      <div class="row">
                          <div class="col-lg-7">
                              <ul class="ul--sm _wmax-530">
                                  <li class="h--sm">
                                      <h2>Striving For Your Academic Success</h2>
                                      <p class="p--sm">We work with hundreds of writers, most of whom are always available to take your order. Find an expert who specializes in your subject area!</p>
                                  </li>
                                  <li class="h--sm" style="margin-bottom: 60px; margin-top: 60px;">
                                        <h2>Dissertations Written by Ph.D. Graduates</h2>
                                        <p class="p--sm">Dissertations require a high level of skills and attentiveness. Such tasks fall into the hands of our Ph.D. graduates who have all the experience necessary to write a proper dissertation!</p>
                                    </li>
                                    <li class="h--sm" style="margin-bottom: 60px;">
                                            <h2>Close Collaboration
                                                </h2>
                                            <p class="p--sm">Our writers will collaborate and chat with you online to provide the best dissertation writing services possible! Just tell us if you want to get tutoring service from us!</p>
                                        </li>
                                        <li class="h--sm">
                                                <h2>Access to Scientific Sources and Analytical Software
                                                    </h2>
                                                <p class="p--sm">Each EssayPro writer has access to numerous scientific databases, as well as analytical software, such as SPSS or Stata, which means they will be able to handle any tasks for you!</p>
                                            </li>
                              </ul>
                          </div>
                          <div class="col-lg-5">
                              <div class="row">
                                  <img src="{% static 'img/computer.png' %}" id="giff1" class="img-fluid">
                              </div>
                              <div class="row" style="margin-top: 50px;">
                                    <div class="col-lg-12 text-center">
                                        <a class="banner_btn btn-header" id="findwriter" href="#">Find A Writer</a>
                                    </div>
                                </div>
                          </div>
                      </div>
                  </div>
              </section>
        
                <section class="service_feature element_service">
                        <div class="container">
                            <div class="row feature_inner">
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="feature_item">
                                                <div class="single_sidebar_widget author_widget">
                                                    <img class="author_img rounded-circle" src="img/blog/author.png" alt="">
                                                    <h4>Charlie Barber</h4>
                                                    <p>Orders Completed</p>
                                                    <div class="social_icon">
                                                        <p>454</p>
                                                    </div>
                                                    <p>Boot camps have its supporters andit sdetractors.</p>
                                                    <div class="br"></div>
                                                </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="feature_item">
                                            <div class="single_sidebar_widget author_widget">
                                                    <img class="author_img rounded-circle" src="img/blog/author.png" alt="">
                                                    <h4>Charlie Barber</h4>
                                                    <p>Orders Completed</p>
                                                    <div class="social_icon">
                                                        <p>454</p>
                                                    </div>
                                                    <p>Boot camps have its supporters andit sdetractors.</p>
                                                    <div class="br"></div>
                                                </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="feature_item">
                                            <div class="single_sidebar_widget author_widget">
                                                    <img class="author_img rounded-circle" src="img/blog/author.png" alt="">
                                                    <h4>Charlie Barber</h4>
                                                    <p>Orders Completed</p>
                                                    <div class="social_icon">
                                                        <p>454</p>
                                                    </div>
                                                    <p>Boot camps have its supporters andit sdetractors.</p>
                                                    <div class="br"></div>
                                                </div>
                                    </div>
                                </div>
        
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                        <div class="feature_item">
                                                <div class="single_sidebar_widget author_widget">
                                                        <img class="author_img rounded-circle" src="img/blog/author.png" alt="">
                                                        <h4>Charlie Barber</h4>
                                                        <p>Orders Completed</p>
                                                        <div class="social_icon">
                                                                <p>454</p>
                                                        </div>
                                                        <p>Boot camps have its supporters andit sdetractors.</p>
                                                        <div class="br"></div>
                                                    </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </section>
    
              <section id="dissertation" class="container-fluid">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-4 col-md-6 text-center">
                          <div class="service-box mt-5 mx-auto">
                            <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
                            <h5 class="mb-3">Any Deadline - Any Subject</h5>
                            <p class="mb-0">Our professional paper writers can complete any assignment, regardless of topic or difficulty.</p>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                          <div class="service-box mt-5 mx-auto">
                            <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
                            <h5 class="mb-3">Email and SMS Notifications</h5>
                            <p class=" mb-0">Stay informed 24/7 through order updates, new chat messages, uploaded files, etc.</p>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                          <div class="service-box mt-5 mx-auto">
                            <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
                            <h5 class="mb-3">Online Writer Chat</h5>
                            <p class="text-muted mb-0">Communicate with your writer at any time to discuss assignment details, request edits, etc.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
    {% endblock content %}