 {% extends 'base.html' %}
 {% load static %}
 {% block content %}
 
 <!--================Home Banner Area =================-->
  <section class="home_banner_area" style="height: 500px;" id="another3">
        <div class="banner_inner">
            <div class="container">
                <div class="row banner_content"style="padding-top: 0px;">
                    <div class="col-lg-9">
                        <h2>Essay delimma?<br />Hire a Writer.</h2>
                        <p style="font-size: 24px;">We’ll make the grade</p>
                    </div>
                    <div class="col-lg-3">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    
            <div class="container" style="position: relative;margin-top: 90px;background-color: #fff;">
                <div class="row feature_inner">
                    <div class="col-lg-4 col-md-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="{% static 'img/incase.svg' %}" alt="">
                            </div>
                            <h4>Any Deadline. Any Subject.</h4>
                            <p>You may provide your own topic or request our experts to find one for you. Flexible deadlines - get an essay done in 6 hours.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="{% static 'img/wrong.svg' %}" alt="">
                            </div>
                            <h4>Complete Anonymity</h4>
                            <p>Pay securely without providing personal info. An email address is all you need to sign up and use EssayPro.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="{% static 'img/how.svg' %}" alt="">
                            </div>
                            <h4>Student-friendly Prices</h4>
                            <p>Prices start at $12 per page. After the third page, every additional one will come at a discount. </p>
                        </div>
                    </div>
                </div>
            </div>



            
            <section class="p-0" id="portfolio">
                <div class="container-fluid p-0">
                    <h2 class="section-heading text-left" style="margin-bottom: 50px; padding-top: 80px;">Benefits of Using Our Essay Writing Service</h2>
                  <div class="row" style="padding: 60px;">
                    <div class="col-lg-5 col-md-5" id="instructon">
                      <div class="row how" id="how1">
                        <span style="margin-left: 20px;margin-bottom:  20px;"><img src="{% static 'img/what.svg' %}" alt=""></span>
                        <h4 style="margin-left: 50px;/* margin-bottom: 0px; */">Customer First</h4>
                        <div class="col-lg-9 col-md-9">
                            <p>We have tailored this writing service to fully satisfy students’ demands. Secure payments, easy access, and guaranteed confidentiality are prioritized to make you feel safe using EssayPro.</p>
                        </div>
                      </div>
                      <div class="row how" id="how2">
                        <span style="margin-left: 20px;margin-bottom:  20px;"><img src="{% static 'img/right.svg' %}" alt=""></span>
                        <h4 style="margin-left: 50px;/* margin-bottom: 0px; */">Negotiable Prices</h4>
                          <div class="col-lg-12 col-md-12">
                              <p>Place an order and you will receive a number of price offers for your paper. The price will depend on the writer and the difficulty of the assignment.</p>
                          </div>
                        </div>
                        <div class="row how" id="how3">
                            <span style="margin-left: 20px;"><img src="{% static 'img/those.svg' %}" alt=""></span>
                            <h4 style="margin-left: 50px;/* margin-bottom: 0px; */">Control Over Writing Process</h4>
                            <div class="col-lg-12 col-md-12">
                                <p>Stay in touch with your essay writer via Online Chat, approve drafts, provide comments and ideas to be implemented in the paper.</p>
                            </div>
                          </div>
                    </div>

                    <div class="col-lg-7 col-md-7">
                        <div class="container">
                          <img src="">
                        </div>
                      </div>
                  </div>
                 </div>
              </section>

              <section class="p-0" id="portfolio">
                <div class="container-fluid p-0">
                    <h2 class="section-heading text-center" style="margin-bottom: 50px; padding-top: 80px;">How It Works</h2>
                  <div class="row">
                      
                    <div class="col-lg-7 col-md-7">
                            <div class="container">
                              <img src="">
                            </div>
                    </div>

                    <div class="col-lg-5 col-md-5" id="instructon">

                      <div class="row how" id="how1">
                            <span style="margin-left: 20px;margin-bottom:  20px;"><img src="{% static 'img/what.svg' %}" alt=""></span>
                            <h4 style="margin-left: 50px;/* margin-bottom: 0px; */">Customer First</h4>
                        <div class="col-lg-12 col-md-12">
                            <p>We have tailored this writing service to fully satisfy students’ demands. Secure payments, easy access, and guaranteed confidentiality are prioritized to make you feel safe using EssayPro.</p>
                        </div>
                      </div>
                      <div class="row how" id="how2">
                          <div class="col-lg-4 col-md-4">
                                <span style="margin-left: 20px;margin-bottom:  20px;"><img src="{% static 'img/right.svg' %}" alt=""></span>
                          </div>
                          <h4 style="margin-left: 50px;/* margin-bottom: 0px; */">Negotiable Prices</h4>
                         
                              <p>Place an order and you will receive a number of price offers for your paper. The price will depend on the writer and the difficulty of the assignment.</p>
                        </div>
                        <div class="row how" id="how3">
                                <span style="margin-left: 20px;margin-bottom:  20px;"><img src="{% static 'img/those.svg' %}" alt=""></span>
                                <h4 style="margin-left: 50px;/* margin-bottom: 0px; */">Control Over Writing Process</h4>
                            <div class="col-lg-12 col-md-12">
                                <p>Stay in touch with your essay writer via Online Chat, approve drafts, provide comments and ideas to be implemented in the paper.</p>
                            </div>
                          </div>
                    </div>
                  </div>
                 </div>
              </section>


           
                  <section class="p-0" id="portfolio">
                        <div class="container-fluid p-0">
                          <div class="row">
                            <div class="col-lg-7 col-md-7">
                              <div class="container">
                                <img src="">
                              </div>
                            </div>
                            <div class="col-lg-5 col-md-5" id="instructon">
                              <div class="row how" id="how1">
                                <h4>1. Submit an Order</h4>
                                <div class="col-lg-4 col-md-4">
                                  <span></span>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <p>Fill in your paper requirements and place an order. You will receive price offers from our experts within a few minutes.</p>
                                </div>
                              </div>
                              <div class="row how" id="how2">
                                  <h4>2. Pick a Writer</h4>
                                  <div class="col-lg-4 col-md-4">
                                    <span></span>
                                  </div>
                                  <div class="col-lg-12 col-md-12">
                                      <p>Choose the most suitable essay writer by price, rating and customer reviews. Deposit the contract amount and our professor will begin to write an essay for you.</p>
                                  </div>
                                </div>
                                <div class="row how" id="how3">
                                    <h4>3. Download your Paper</h4>
                                    <div class="col-lg-4 col-md-4">
                                      <span></span>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <p>Lastly, you will receive a final draft which you may proofread and edit with your writer. When it’s finished, release funds and leave review for your professional writer.</p>
                                    </div>
                                  </div>
                                  <div class="row how">
                                    <div class="col-lg-6 col-md-6 text-center">
                                        <a class="btn  btn-xc sr-button bun btn-header" href="#">Place An Order</a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 text-center">
                                            <a class="btn bun  btn-xc sr-button btn-header" href="#">Learn More</a>
                                        </div>
                                  </div>
                            </div>
                          </div>
                         </div>
                      </section>

                      <section class="interior_area">
                        <div class="container">
                            <div class="interior_inner row">
                                <div class="col-lg-6">
                                    <img src="{% static 'img/testimonials/testi-1.png' %}" alt="">
                                </div>
                                <div class="col-lg-5 offset-lg-1">
                                    <div class="interior_text">
                                        <h4>We Believe that Interior beautifies the Total Architecture</h4>
                                        <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed off.</p>
                                        <a class="main_btn" href="#">See Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

             
<section class="testimonials_area p_120">
    <div class="container">
      <div class="main_title">
        <h2>Reviews</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
      </div>
      <div class="testi_slider owl-carousel">
        <div class="item">
          <div class="testi_item">
        <div class="media">
          <div class="d-flex">
            <img src="{% static 'img/testimonials/testi-1.png' %}" alt="">
          </div>
          <div class="media-body">
            <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
            <h4>Mark Alviro Wiens</h4>
            <h5>Order 987683</h5>
          </div>
        </div>
          </div>
        </div>
        <div class="item">
          <div class="testi_item">
        <div class="media">
          <div class="d-flex">
            <img src="{% static 'img/testimonials/testi-2.png' %}" alt="">
          </div>
          <div class="media-body">
            <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
            <h4>Mark Alviro Wiens</h4>
            <h5>Order 687383</h5>
          </div>
        </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Testimonials Area =================-->
  

              
{% endblock content %}