{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--================Home Banner Area =================-->
  <section class="home_banner_area" style="height: 500px;">
        <div class="banner_inner">
            <div class="container">
                <div class="row banner_content"style="padding-top: 0px;">
                    <div class="col-lg-9">
                        <h2>Essay delimma?<br />Hire a Writer.</h2>
                        <p style="font-size: 24px;">We’ll make the grade</p>
                    </div>
                    <div class="col-lg-3">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    
            <div class="container" style="position: relative;margin-top: -90px;background-color: #fff;">
                <div class="row feature_inner">
                    <div class="col-lg-4 col-md-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="{% static 'img/icon/f-icon-4.png' %}" alt="">
                            </div>
                            <h4>Video Support</h4>
                            <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="{% static 'img/icon/f-icon-5.png' %}" alt="">
                            </div>
                            <h4>Fast Support</h4>
                            <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="{% static 'img/icon/f-icon-6.png' %}" alt="">
                            </div>
                            <h4>Download test</h4>
                            <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. </p>
                        </div>
                    </div>
                </div>
            </div>


            <section id="dissertation" class="container-fluid" style="margin-top: 70px;">
                    <div class="container">
                            <div class="row">
                                    <div class="col-lg-4 col-md-6 text-center">
                                      <div class="service-box mt-5 mx-auto">
                                        <i class="fas fa-clock text-primary mb-3 sr-icons fa-5x"></i>
                                        <h5 class="mb-3">Any Deadline - Any Subject</h5>
                                        <p class="mb-0">Our professional paper writers can complete any assignment, regardless of topic or difficulty.</p>
                                      </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 text-center">
                                      <div class="service-box mt-5 mx-auto">
                                            <i class="far fa-envelope text-primary mb-3 sr-icons fa-5x"></i>
                                        <h5 class="mb-3">Email and SMS Notifications</h5>
                                        <p class=" mb-0">Stay informed 24/7 through order updates, new chat messages, uploaded files, etc.</p>
                                      </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 text-center">
                                      <div class="service-box mt-5 mx-auto">
                                            <i class="far fa-comments text-primary mb-3 sr-icons fa-5x"></i>
                                        <h5 class="mb-3">Online Writer Chat</h5>
                                        <p class="text-muted mb-0">Communicate with your writer at any time to discuss assignment details, request edits, etc.</p>
                                      </div>
                                    </div>
                                  </div>
                    </div>
                  </section>

                  <section class="text-center" style="background-color: #f2f5fa; padding-bottom: 150px;">
                        <div class="container">
                                <h2 class="section-heading text-center" style="margin-bottom: 50px; padding-top: 80px;">What Do I Get by Ordering a Term Paper Here?</h2>
                                <div class="testi_slider owl-carousel row">
                                        <div class="item col-lg-6">
                                          <div class="testi_item">
                                        <div class="media">
                                          <div class="d-flex">
                                            <img src="{% static 'img/testimonials/testi-1.png' %}" alt="">
                                          </div>
                                          <div class="media-body">
                                            <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
                                            <h4>Mark Alviro Wiens</h4>
                                            <h5>Order 987683</h5>
                                          </div>
                                        </div>
                                          </div>
                                        </div>
                                        <div class="item col-lg-6">
                                          <div class="testi_item">
                                        <div class="media">
                                          <div class="d-flex">
                                            <img src="{% static 'img/testimonials/testi-2.png' %}" alt="">
                                          </div>
                                          <div class="media-body">
                                            <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
                                            <h4>Mark Alviro Wiens</h4>
                                            <h5>Order 687383</h5>
                                          </div>
                                        </div>
                                          </div>
                                        </div>
                                        <div class="testi_slider owl-carousel row">
                                                <div class="item col-lg-6">
                                                  <div class="testi_item">
                                                <div class="media">
                                                  <div class="d-flex">
                                                    <img src="{% static 'img/testimonials/testi-1.png' %}" alt="">
                                                  </div>
                                                  <div class="media-body">
                                                    <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
                                                    <h4>Mark Alviro Wiens</h4>
                                                    <h5>Order 987683</h5>
                                                  </div>
                                                </div>
                                                  </div>
                                                </div>
                                                <div class="item col-lg-6">
                                                  <div class="testi_item">
                                                <div class="media">
                                                  <div class="d-flex">
                                                    <img src="{% static 'img/testimonials/testi-2.png' %}" alt="">
                                                  </div>
                                                  <div class="media-body">
                                                    <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
                                                    <h4>Mark Alviro Wiens</h4>
                                                    <h5>Order 687383</h5>
                                                  </div>
                                                </div>
                                                  </div>
                                                </div>
            
                        </div>
                      </div>
                  </section>

{% endblock content %}