{% extends 'base.html' %}
{% load static %}
{% block content %}

 <!--================Home Banner Area =================-->
 <section class="home_banner_area" style="height: 500px;" id="another3">
    <div class="banner_inner">
        <div class="container">
            <div class="row banner_content"style="padding-top: 0px;">
                <div class="col-lg-9">
                        <h2>Essay Writing Service<br />Hire a Writer.</h2>
                        <p style="font-size: 24px;">You think, we write.</p>
                </div>
                <div class="col-lg-3">
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

    
            <div class="container" style="position: relative;margin-top: -90px;background-color: #fff;">
                <div class="row feature_inner">
                    <div class="col-lg-4 col-md-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="{% static 'img/icon/f-icon-4.png' %}" alt="">
                            </div>
                            <h4>Any Difficulty, Any Topic!</h4>
                            <p>
                                We work with writers from different academic field. Most of whom possess MA and Ph.D. degrees </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="{% static 'img/icon/f-icon-5.png' %}" alt="">
                            </div>
                            <h4>Always Before the Deadline</h4>
                            <p>We have 100+ writers always online and ready to handle your papers. Receive the work early to make any changes.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="{% static 'img/icon/f-icon-6.png' %}" alt="">
                            </div>
                            <h4>Our Special Offer</h4>
                            <p>The longer the paper - the greater the discount. Save up to 33% with our writing service. </p>
                        </div>
                    </div>
                </div>
            </div>
            <section class="service_feature element_service">
                <div class="container">
                    <div class="row">
              </div>
                    <div class="row feature_inner">
                        <div class="col-lg-4 col-md-6">
                            <div class="feature_item">
                                    <img src="{% static 'img/clock.svg' %}" alt="" style="width: 65px">
                                <h4>Any Deadline - Any Subject</h4>
                                <p>Our professional paper writers can complete any assignment, regardless of topic or difficulty.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="feature_item">
                                    <img src="{% static 'img/phone.svg' %}" alt="" style="width: 65px">
                                <h4>Email and SMS Notifications</h4>
                                <p>Stay informed 24/7 through order updates, new chat messages, uploaded files, etc.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="feature_item">
                                    <img src="{% static 'img/chat.svg' %}" alt="" style="width: 65px">
                                <h4>Online Writer Chat</h4>
                                <p>Communicate with your writer at any time to discuss assignment details, request edits, etc.</p>
                            </div>
                        </div>
            </div>
            <div class="row feature_inner">
                        <div class="col-lg-4 col-md-6">
                            <div class="feature_item">
                                    <img src="{% static 'img/card.svg' %}" alt="" style="width: 65px">
                                <h4>Detailed Writer Profiles</h4>
                                <p>Look through writer’s rates, reviews, # of completed assignments and subject proficiency.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="feature_item">
                                    <img src="{% static 'img/search.svg' %}" alt="" style="width: 65px">
                                <h4>Plagiarism Free Papers</h4>
                                <p>EssayPro has a strict plagiarism policy. We run each paper through various plagiarism detection tools.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="feature_item">
                                    <img src="{% static 'img/wallet.svg' %}" alt="" style="width: 65px">
                                <h4>Affordable Prices</h4>
                                <p>We offer the lowest price per page in the industry at an average of $10 per page.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            

            <section class="service_feature element_service">
              <div class="row">
                <h2>Meet Our Expert Writer</h2>
              </div>
              <div class="row" style="margin-top: 40px;">
                <div class="col-lg-6">
                  <div class="container">
                    <ul>
                      <li>
                        <h4>Choose a Personal Writer</h4>
                        <p>Select your preferred term paper writer to work with them in the future. He will be like a personal tutor!</p>
                      </li>
                      <li>
                          <h4>Support 24/7
                            </h4>
                          <p>Customers can contact us via phone, live chat, e-mail, etc.
                            </p>
                        </li>
                        <li>
                            <h4>100% Plagiarism-Free
                              </h4>
                            <p>We write every term paper from scratch and run it through the team of editors who check for uniqueness and grammar.</p>
                          </li>
                          <li>
                              <h4>Full Anonymity & Security
                                </h4>
                              <p>No personal information is required. Clients may use only an email address to sign up and use EssayPro service. No personal information is required.</p>
                            </li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-6">
                    <img src="{% static 'img/wrrlk.jpg' %}" alt="" style="width: 400px" >
                </div>
              </div>
            </section>

                  <section class="testimonials_area p_120">
                      <div class="container">
                        <div class="main_title">
                          <h2>Customer Reviews</h2>
                        </div>
                        <div class="testi_slider owl-carousel row">
                          <div class="item col-lg-6">
                            <div class="testi_item">
                          <div class="media">
                            <div class="d-flex">
                              <img class="author_img rounded-circle" src="{% static 'img/customer3.jpg' %}" style="width: 130px; height: 150px; border-radius: 30%;" alt="">
                            </div>
                            <div class="media-body">
                              <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
                              <h4>Raye Neaves</h4>
                            </div>
                          </div>
                            </div>
                          </div>
                          <div class="item col-lg-6">
                            <div class="testi_item">
                          <div class="media">
                            <div class="d-flex">
                              <img class="author_img rounded-circle" src="{% static 'img/cuuz.jpg' %}" style="width: 130px; height: 150px; border-radius: 30%;" alt="">
                            </div>
                            <div class="media-body">
                              <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
                              <h4>Maile Concannons</h4>
                            </div>
                          </div>
                            </div>
                          </div>
                        </div>
                        <div class="testi_slider owl-carousel row">
                          <div class="item col-lg-6">
                            <div class="testi_item">
                          <div class="media">
                            <div class="d-flex">
                              <img class="author_img rounded-circle" src="{% static 'img/profile3.png' %}" style="width: 130px; height: 150px; border-radius: 30%;" alt="">
                            </div>
                            <div class="media-body">
                              <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
                              <h4>Season Lucier</h4>
                            </div>
                          </div>
                            </div>
                          </div>
                          <div class="item col-lg-6">
                            <div class="testi_item">
                          <div class="media">
                            <div class="d-flex">
                              <img class="author_img rounded-circle" src="{% static 'img/third.jpg' %}" style="width: 130px; height: 150px; border-radius: 30%;" alt="">
                            </div>
                            <div class="media-body">
                              <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
                              <h4>Lita Kenan</h4>
                            </div>
                          </div>
                            </div>
                          </div>
                        </div>
                        <div class="text-center" style="margin-top: 60px;">
                        <a class="banner_btn btn-header" href="#" style="border-radius: 20px;">View All</a>
                      </div>
                      </div>
                    </section>
{% endblock content %}