 {% extends 'base.html' %}
 {% load static %}
 {% block content %}
 
 <!--================Home Banner Area =================-->
  <section class="home_banner_area" style="height: 500px;" id="another3">
        <div class="banner_inner">
            <div class="container">
                <div class="row banner_content"style="padding-top: 0px;">
                    <div class="col-lg-9">
                            <h2>Essay Writing Service<br />Hire a Writer.</h2>
                            <p style="font-size: 24px;">You think, we write.</p>
                    </div>
                    <div class="col-lg-3">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    
    <section class="service_feature element_service">
        <div class="container">
            <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Features</h2>
      </div>
      </div>
            <div class="row feature_inner">
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item">
                            <img src="{% static 'img/clock.svg' %}" alt="" style="width: 65px">
                        <h4>Any Deadline - Any Subject</h4>
                        <p>Our professional paper writers can complete any assignment, regardless of topic or difficulty.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item">
                            <img src="{% static 'img/phone.svg' %}" alt="" style="width: 65px">
                        <h4>Email and SMS Notifications</h4>
                        <p>Stay informed 24/7 through order updates, new chat messages, uploaded files, etc.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item">
                            <img src="{% static 'img/chat.svg' %}" alt="" style="width: 65px">
                        <h4>Online Writer Chat</h4>
                        <p>Communicate with your writer at any time to discuss assignment details, request edits, etc.</p>
                    </div>
                </div>
    </div>
    <div class="row feature_inner">
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item">
                            <img src="{% static 'img/card.svg' %}" alt="" style="width: 65px">
                        <h4>Detailed Writer Profiles</h4>
                        <p>Look through writer’s rates, reviews, # of completed assignments and subject proficiency.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item">
                            <img src="{% static 'img/search.svg' %}" alt="" style="width: 65px">
                        <h4>Plagiarism Free Papers</h4>
                        <p>EssayPro has a strict plagiarism policy. We run each paper through various plagiarism detection tools.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item">
                            <img src="{% static 'img/wallet.svg' %}" alt="" style="width: 65px">
                        <h4>Affordable Prices</h4>
                        <p>We offer the lowest price per page in the industry at an average of $10 per page.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


            
                      <section class="interior_area">
                        <div class="container">
                            <div class="interior_inner row">
                                <div class="col-lg-6">
                                        <img class="img-fluid" src="{% static 'img/interior.gif' %}" alt="">
                                </div>
                                <div class="col-lg-5 offset-lg-1">
                                    <div class="interior_text">
                                        <h4>Leave your troubles at the door. Walk out with a top-grade essay.</h4>
                                        <p>From admission essays to graduate dissertations - rely on the best essay service to do it for you!</p>
                                        <a class="main_btn" href="#">See Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

             
<section class="testimonials_area p_120">
    <div class="container">
      <div class="testi_slider owl-carousel row">
            <div class="item col-lg-6">
              <div class="testi_item">
            <div class="media">
              <div class="d-flex">
                <img src="{% static 'img/testimonials/testi-1.png' %}" alt="">
              </div>
              <div class="media-body">
                <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
                <h4>Mark Alviro Wiens</h4>
                <h5>Order 987683</h5>
              </div>
            </div>
              </div>
            </div>
            <div class="item col-lg-6">
              <div class="testi_item">
            <div class="media">
              <div class="d-flex">
                <img src="{% static 'img/testimonials/testi-2.png' %}" alt="">
              </div>
              <div class="media-body">
                <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
                <h4>Mark Alviro Wiens</h4>
                <h5>Order 687383</h5>
              </div>
            </div>
              </div>
            </div>
          </div>
          <div class="testi_slider owl-carousel row">
                <div class="item col-lg-6">
                  <div class="testi_item">
                <div class="media">
                  <div class="d-flex">
                    <img src="{% static 'img/testimonials/testi-1.png' %}" alt="">
                  </div>
                  <div class="media-body">
                    <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
                    <h4>Mark Alviro Wiens</h4>
                    <h5>Order 987683</h5>
                  </div>
                </div>
                  </div>
                </div>
                <div class="item col-lg-6">
                  <div class="testi_item">
                <div class="media">
                  <div class="d-flex">
                    <img src="{% static 'img/testimonials/testi-2.png' %}" alt="">
                  </div>
                  <div class="media-body">
                    <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
                    <h4>Mark Alviro Wiens</h4>
                    <h5>Order 687383</h5>
                  </div>
                </div>
                  </div>
                </div>
              </div>
    </div>
  </section>
  <!--================End Testimonials Area =================-->
  

              
{% endblock content %}