
{% extends 'base.html' %}
{% load static %}
{% block content %}

       <!--================Home Banner Area =================-->
  <section class="home_banner_area" style="height: 500px;" id="another3">
      <div class="banner_inner">
          <div class="container">
              <div class="row banner_content"style="padding-top: 0px;">
                  <div class="col-lg-9">
                          <h2>Essay Writing Service<br />Hire a Writer.</h2>
                          <p style="font-size: 24px;">You think, we write.</p>
                  </div>
                  <div class="col-lg-3">
                      
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--================End Home Banner Area =================-->

        
        
              <section class="container-fluid" style="background-color: #f0f2f6;">
                  <div class="container" id="expert2">
                        <h2 style="color:  #7249fb;margin-bottom: 30px;margin-left: 30px;margin-top: 40px;">Striving For Your Academic Success</h2>
                        <p style="font-size: 20px">Our research paper writing service is built for students who urgently need to get help with their academic tasks.</p>
                        <p style="font-size: 20px; margin-bottom: 80px;">We work to ensure that every research paper contributes to improving your GPA, so you can keep up academically while being focused on your personal goals. Here’s more about what makes us great:</p>
                      <div class="row">
                          <div class="col-lg-7">
                              <ul class="ul--sm _wmax-530">
                                  <li class="h--sm">
                                      <h2>Striving For Your Academic Success</h2>
                                      <p class="p--sm">We work with hundreds of writers, most of whom are always available to take your order. Find an expert who specializes in your subject area!</p>
                                  </li>
                                  <li class="h--sm" style="margin-bottom: 60px; margin-top: 60px;">
                                        <h2>Dissertations Written by Ph.D. Graduates</h2>
                                        <p class="p--sm">Dissertations require a high level of skills and attentiveness. Such tasks fall into the hands of our Ph.D. graduates who have all the experience necessary to write a proper dissertation!</p>
                                    </li>
                                    <li class="h--sm" style="margin-bottom: 60px;">
                                            <h2>Close Collaboration
                                                </h2>
                                            <p class="p--sm">Our writers will collaborate and chat with you online to provide the best dissertation writing services possible! Just tell us if you want to get tutoring service from us!</p>
                                        </li>
                                        <li class="h--sm">
                                                <h2>Access to Scientific Sources and Analytical Software
                                                    </h2>
                                                <p class="p--sm">Each EssayPro writer has access to numerous scientific databases, as well as analytical software, such as SPSS or Stata, which means they will be able to handle any tasks for you!</p>
                                            </li>
                              </ul>
                          </div>
                          <div class="col-lg-5">
                              <div class="row">
                                  <img src="{% static 'img/computer.png' %}" id="giff1" class="img-fluid">
                              </div>
                              <div class="row" style="margin-top: 50px;">
                                    <div class="col-lg-12 text-center">
                                        <a class="banner_btn btn-header" id="findwriter" href="{% url 'account_signup' %}">Find A Writer</a>
                                    </div>
                                </div>
                          </div>
                      </div>
                  </div>
              </section>
              <section class="service_feature element_service">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Top Essay Writers</h2>
                        <p style="font-size: 15px; padding-left:45px; padding-right: 45px;">We employ the best professionals on the market. Their rating is based on customer reviews and rates. Our essay writers produce original high-quality papers on any topic even with the tightest deadlines.</p>
                      </div>
                      </div>
                    <div class="row feature_inner">
                      <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="feature_item">
                              <div class="single_sidebar_widget author_widget">
                                <img class="author_img rounded-circle" src="{% static 'img/profile1.png' %}" style="width: 130px;" alt="">
                                <h4>John Latz</h4>
                                <div class="social_icon">
                                  <p>Orders Completed: 85</p>
                                </div>
                                <div class="br"></div>
                                <div>
                                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                                </div>
                              </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="feature_item">
                          <div class="single_sidebar_widget author_widget">
                            <img class="author_img rounded-circle" src="{% static 'img/profile2.png' %}" style="width: 130px;" alt="">
                            <h4>Benjamin Logsdon</h4>
                            <div class="social_icon">
                              <p>Orders Completed: 81</p>
                            </div>
                            <div class="br"></div>
                            <div>
                              <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="feature_item">
                          <div class="single_sidebar_widget author_widget">
                            <img class="author_img rounded-circle" src="{% static 'img/lady.jpg' %}" style="width: 130px; border-radius: 30%;" alt="">          <h4>Clarine Neider</h4>
                            <div class="social_icon">
                              <p>Orders Completed: 78</p>
                            </div>
                            <div class="br"></div>
                            <div>
                              <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                  
                      <div class="col-lg-3 col-md-6 col-sm-6">
                          <div class="feature_item">
                            <div class="single_sidebar_widget author_widget">
                              <img class="author_img rounded-circle" src="{% static 'img/lady3.jpg' %}" style="width: 130px; border-radius: 30%;" alt="">          <h4>Clarine Neider</h4>
                              <div class="social_icon">
                                <p>Orders Completed: 70</p>
                              </div>
                              <div class="br"></div>
                              <div>
                                <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                  </section>


                  <section class="service_feature element_service">
                      <div class="container">
                          <div class="row">
                    
                    </div>
                          <div class="row feature_inner">
                              <div class="col-lg-4 col-md-6">
                                  <div class="feature_item">
                                        No personal information is required. Clients may use only an email address to sign up and use EssayPro service. No personal information is required.                                      <h4>Any Deadline - Any Subject</h4>
                                      <p>Our professional paper writers can complete any assignment, regardless of topic or difficulty.</p>
                                  </div>
                              </div>
                              <div class="col-lg-4 col-md-6">
                                  <div class="feature_item">
                                          <img src="{% static 'img/phone.svg' %}" alt="" style="width: 65px">
                                      <h4>Email and SMS Notifications</h4>
                                      <p>Stay informed 24/7 through order updates, new chat messages, uploaded files, etc.</p>
                                  </div>
                              </div>
                              <div class="col-lg-4 col-md-6">
                                  <div class="feature_item">
                                          <img src="{% static 'img/chat.svg' %}" alt="" style="width: 65px">
                                      <h4>Online Writer Chat</h4>
                                      <p>Communicate with your writer at any time to discuss assignment details, request edits, etc.</p>
                                  </div>
                              </div>
                  </div>
                  <div class="row feature_inner">
                              <div class="col-lg-4 col-md-6">
                                  <div class="feature_item">
                                          <img src="{% static 'img/card.svg' %}" alt="" style="width: 65px">
                                      <h4>Detailed Writer Profiles</h4>
                                      <p>Look through writer’s rates, reviews, # of completed assignments and subject proficiency.</p>
                                  </div>
                              </div>
                              <div class="col-lg-4 col-md-6">
                                  <div class="feature_item">
                                          <img src="{% static 'img/search.svg' %}" alt="" style="width: 65px">
                                      <h4>Plagiarism Free Papers</h4>
                                      <p>EssayPro has a strict plagiarism policy. We run each paper through various plagiarism detection tools.</p>
                                  </div>
                              </div>
                              <div class="col-lg-4 col-md-6">
                                  <div class="feature_item">
                                          <img src="{% static 'img/wallet.svg' %}" alt="" style="width: 65px">
                                      <h4>Affordable Prices</h4>
                                      <p>We offer the lowest price per page in the industry at an average of $10 per page.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </section>
    {% endblock content %}