 {% extends 'base.html' %}
 {% load static %}
 {% block content %}
 
 <!--================Home Banner Area =================-->
  <section class="home_banner_area" style="height: 500px;" id="another3">
    
        <div class="banner_inner">
            <div class="container">
                <div class="row banner_content"style="padding-top: 0px;">
                    <div class="col-lg-9">
                        <h2>Essay delimma?<br />Hire a Writer.</h2>
                        <p style="font-size: 24px;">We’ll make the grade</p>
                    </div>
                    <div class="col-lg-3">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    
            <div class="container" style="position: relative;margin-top: -90px;background-color: #fff;">
                <div class="row feature_inner">
                    <div class="col-lg-4 col-md-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="{% static 'img/icon/f-icon-4.png' %}" alt="">
                            </div>
                            <h4>Video Support</h4>
                            <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="{% static 'img/icon/f-icon-5.png' %}" alt="">
                            </div>
                            <h4>Fast Support</h4>
                            <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="{% static 'img/icon/f-icon-6.png' %}" alt="">
                            </div>
                            <h4>Download test</h4>
                            <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. </p>
                        </div>
                    </div>
                </div>
            </div>


           
                  <section class="p-0" id="portfolio">
                        <div class="container-fluid p-0">
                            <h2 class="section-heading text-center" style="margin-bottom: 50px; padding-top: 80px;">How to Order an Essay</h2>
                          <div class="row">
                            <div class="col-lg-7 col-md-7">
                              <div class="container">
                                <img src="">
                              </div>
                            </div>
                            <div class="col-lg-5 col-md-5" id="instructon">
                              <div class="row how" id="how1">
                                <h4>1. Submit an Order</h4>
                                <div class="col-lg-4 col-md-4">
                                  <span></span>
                                </div>
                                <div class="col-lg-8 col-md-8">
                                    <p>Fill in your paper requirements and place an order. You will receive price offers from our experts within a few minutes.</p>
                                </div>
                              </div>
                              <div class="row how" id="how2">
                                  <h4>2. Pick a Writer</h4>
                                  <div class="col-lg-4 col-md-4">
                                    <span></span>
                                  </div>
                                  <div class="col-lg-8 col-md-8">
                                      <p>Choose the most suitable essay writer by price, rating and customer reviews. Deposit the contract amount and our professor will begin to write an essay for you.</p>
                                  </div>
                                </div>
                                <div class="row how" id="how3">
                                    <h4>3. Download your Paper</h4>
                                    <div class="col-lg-4 col-md-4">
                                      <span></span>
                                    </div>
                                    <div class="col-lg-8 col-md-8">
                                        <p>Lastly, you will receive a final draft which you may proofread and edit with your writer. When it’s finished, release funds and leave review for your professional writer.</p>
                                    </div>
                                  </div>
                                  <div class="row how">
                                    <div class="col-lg-6 col-md-6 text-center">
                                        <a class="btn  btn-xc sr-button bun btn-header" href="#">Place An Order</a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 text-center">
                                            <a class="btn bun  btn-xc sr-button btn-header" href="#">Learn More</a>
                                        </div>
                                  </div>
                            </div>
                          </div>
                         </div>
                      </section>
              <section  class="container-fluid" style="margin-bottom: 70px;">
                  <div class="container">
                      <div class="row">
                            <h2 class="section-heading text-center" style="margin-bottom: 50px; padding-top: 80px;">How to Order an Essay</h2>
                      </div>
                  </div>
                  <div class="container">
                        <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">                                    <div class="panel panel-white post panel-shadow">
                                    <div class="post-heading">
                                        <div class="pull-left image">
                                            <img src="http://bootdey.com/img/Content/user_1.jpg" class="rounded-circle avatar" alt="user profile image">
                                        </div>
                                        <div class="pull-left meta">
                                            <div class="title h5">
                                                <a href="#">Ryan Haywood</a>
                                            </div>
                                            <h6 class="text-muted time">1 minute ago</h6>
                                        </div>
                                        <div class="pull-right">
                                            <div></div>
                                        </div>
                                    </div> 
                                    <div class="post-description"> 
                                        <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
                                        <div class="stats">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="panel panel-white post panel-shadow">
                                    <div class="post-heading">
                                        <div class="pull-left image">
                                            <img src="http://bootdey.com/img/Content/user_1.jpg" class="rounded-circle avatar" alt="user profile image">
                                        </div>
                                        <div class="pull-left meta">
                                            <div class="title h5">
                                                <a href="#"><b>Ryan Haywood</b></a>
                    
                                            </div>
                                            <h6 class="text-muted time">1 minute ago</h6>
                                        </div>
                                    </div> 
                                    <div class="post-description"> 
                                        <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
                                        <div class="stats">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">                                        <div class="panel panel-white post panel-shadow">
                                        <div class="post-heading">
                                            <div class="pull-left image">
                                                <img src="http://bootdey.com/img/Content/user_1.jpg" class="rounded-circle avatar" alt="user profile image">
                                            </div>
                                            <div class="pull-left meta">
                                                <div class="title h5">
                                                    <a href="#">Ryan Haywood</a>
                                                </div>
                                                <h6 class="text-muted time">1 minute ago</h6>
                                            </div>
                                            <div class="pull-right">
                                                <div></div>
                                            </div>
                                        </div> 
                                        <div class="post-description"> 
                                            <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
                                            <div class="stats">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">                                        <div class="panel panel-white post panel-shadow">
                                        <div class="post-heading">
                                            <div class="pull-left image">
                                                <img src="http://bootdey.com/img/Content/user_1.jpg" class="rounded-circle avatar" alt="user profile image">
                                            </div>
                                            <div class="pull-left meta">
                                                <div class="title h5">
                                                    <a href="#"><b>Ryan Haywood</b></a>
                        
                                                </div>
                                                <h6 class="text-muted time">1 minute ago</h6>
                                            </div>
                                        </div> 
                                        <div class="post-description"> 
                                            <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
                                            <div class="stats">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                  </div>
              </section>

              
{% endblock content %}