{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--================Home Banner Area =================-->
  <section class="home_banner_area" style="height: 500px;">
        <div class="banner_inner">
            <div class="container">
                <div class="row banner_content"style="padding-top: 0px;">
                    <div class="col-lg-9">
                        <h2>Essay delimma?<br />Hire a Writer.</h2>
                        <p style="font-size: 24px;">We’ll make the grade</p>
                    </div>
                    <div class="col-lg-3">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    
            <div class="container" style="position: relative;margin-top: -90px;background-color: #fff;">
                <div class="row feature_inner">
                    <div class="col-lg-4 col-md-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="{% static 'img/icon/f-icon-4.png' %}" alt="">
                            </div>
                            <h4>Video Support</h4>
                            <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="{% static 'img/icon/f-icon-5.png' %}" alt="">
                            </div>
                            <h4>Fast Support</h4>
                            <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="{% static 'img/icon/f-icon-6.png' %}" alt="">
                            </div>
                            <h4>Download test</h4>
                            <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. </p>
                        </div>
                    </div>
                </div>
            </div>


            <section id="dissertation" class="container-fluid" style="margin-top: 70px;">
                    <div class="container">
                      <div class="row" style="padding: 30px;">
                        <div class="col-lg-4 col-md-6 text-center">
                          <div class="service-box mt-5 mx-auto">
                            <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
                            <h5 class="mb-3">Any Deadline - Any Subject</h5>
                            <p class="mb-0">Our professional paper writers can complete any assignment, regardless of topic or difficulty.</p>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                          <div class="service-box mt-5 mx-auto">
                            <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
                            <h5 class="mb-3">Email and SMS Notifications</h5>
                            <p class=" mb-0">Stay informed 24/7 through order updates, new chat messages, uploaded files, etc.</p>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                          <div class="service-box mt-5 mx-auto">
                            <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
                            <h5 class="mb-3">Online Writer Chat</h5>
                            <p class="text-muted mb-0">Communicate with your writer at any time to discuss assignment details, request edits, etc.</p>
                          </div>
                        </div>
                      </div>
                      <div class="row text-center" style="padding: 40px;">
                          <div class="col-lg-6" id="buttonhigher">
                            <a class="banner_btn btn-header" id="findwriter" href="#">Find A Writer</a>
                          </div>
                          <div class="col-lg-6" id="buttonlower">
                            <a class="banner_btn btn-header" id="findwriter" href="#">Find A Writer</a>
                          </div>
                      </div>
                    </div>
                  </section>

                  <section class="text-center" style="background-color: #f2f5fa;">
                        <div class="container">
                                <h2 class="section-heading text-center" style="margin-bottom: 50px; padding-top: 80px;">What Do I Get by Ordering a Term Paper Here?</h2>
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="panel panel-white post panel-shadow">
                                        <div class="post-heading">
                                            <div class="pull-left image">
                                                <img src="http://bootdey.com/img/Content/user_1.jpg" class="rounded-circle avatar" alt="user profile image">
                                            </div>
                                            <div class="pull-left meta">
                                                <div class="title h5">
                                                    <a href="#">Ryan Haywood</a>
                                                </div>
                                                <h6 class="text-muted time">1 minute ago</h6>
                                            </div>
                                            <div class="pull-right">
                                                <div></div>
                                            </div>
                                        </div> 
                                        <div class="post-description"> 
                                            <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
                                            <div class="stats">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="panel panel-white post panel-shadow">
                                        <div class="post-heading">
                                            <div class="pull-left image">
                                                <img src="http://bootdey.com/img/Content/user_1.jpg" class="rounded-circle avatar" alt="user profile image">
                                            </div>
                                            <div class="pull-left meta">
                                                <div class="title h5">
                                                    <a href="#"><b>Ryan Haywood</b></a>
                        
                                                </div>
                                                <h6 class="text-muted time">1 minute ago</h6>
                                            </div>
                                        </div> 
                                        <div class="post-description"> 
                                            <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
                                            <div class="stats">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-lg-6 col-md-12 col-sm-12">
                                        <div class="panel panel-white post panel-shadow">
                                            <div class="post-heading">
                                                <div class="pull-left image">
                                                    <img src="http://bootdey.com/img/Content/user_1.jpg" class="rounded-circle avatar" alt="user profile image">
                                                </div>
                                                <div class="pull-left meta">
                                                    <div class="title h5">
                                                        <a href="#">Ryan Haywood</a>
                                                    </div>
                                                    <h6 class="text-muted time">1 minute ago</h6>
                                                </div>
                                                <div class="pull-right">
                                                    <div></div>
                                                </div>
                                            </div> 
                                            <div class="post-description"> 
                                                <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
                                                <div class="stats">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12">
                                        <div class="panel panel-white post panel-shadow">
                                            <div class="post-heading">
                                                <div class="pull-left image">
                                                    <img src="http://bootdey.com/img/Content/user_1.jpg" class="rounded-circle avatar" alt="user profile image">
                                                </div>
                                                <div class="pull-left meta">
                                                    <div class="title h5">
                                                        <a href="#"><b>Ryan Haywood</b></a>
                            
                                                    </div>
                                                    <h6 class="text-muted time">1 minute ago</h6>
                                                </div>
                                            </div> 
                                            <div class="post-description"> 
                                                <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
                                                <div class="stats">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row text-center" style="padding: 40px;">
                                        <div class="col-lg-6" id="buttonhigher">
                                          <a class="banner_btn btn-header" id="findwriter" href="#">Find A Writer</a>
                                        </div>
                                        <div class="col-lg-6" id="buttonlower">
                                          <a class="banner_btn btn-header" id="findwriter" href="#">Find A Writer</a>
                                        </div>
                                    </div>
                        </div>
                      </div>
                  </section>

{% endblock content %}