  {% extends 'base.html' %}
  {% load static %}

  {% block content %}
  
  <!--================Home Banner Area =================-->
  <section class="home_banner_area" style="height: 500px;">
        <div class="banner_inner">
            <div class="container">
                <div class="row banner_content"style="padding-top: 0px;">
                    <div class="col-lg-9">
                        <h2>Essay delimma?<br />Hire a Writer.</h2>
                        <p style="font-size: 24px;">We’ll make the grade</p>
                    </div>
                    <div class="col-lg-3">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    
    <section id="dissertation" class="container-fluid">
            <div class="container">
              <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                  <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
                    <h5 class="mb-3">Any Deadline - Any Subject</h5>
                    <p class="mb-0">Our professional paper writers can complete any assignment, regardless of topic or difficulty.</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                  <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
                    <h5 class="mb-3">Email and SMS Notifications</h5>
                    <p class=" mb-0">Stay informed 24/7 through order updates, new chat messages, uploaded files, etc.</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                  <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
                    <h5 class="mb-3">Online Writer Chat</h5>
                    <p class="text-muted mb-0">Communicate with your writer at any time to discuss assignment details, request edits, etc.</p>
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-lg-4 col-md-6 text-center">
                      <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
                        <h5 class="mb-3">Detailed Writer Profiles</h5>
                        <p class="text-muted mb-0">Look through writer’s rates, reviews, # of completed assignments and subject proficiency.</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="service-box mt-5 mx-auto">
                          <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
                          <h5 class="mb-3">Plagiarism Free Papers</h5>
                          <p class="text-muted mb-0">EssayPro has a strict plagiarism policy. We run each paper through various plagiarism detection tools.</p>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 text-center">
                          <div class="service-box mt-5 mx-auto">
                            <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
                            <h5 class="mb-3">Affordable Prices</h5>
                            <p class="text-muted mb-0">We offer the lowest price per page in the industry at an average of $10 per page.</p>
                          </div>
                        </div>
              </div>
            </div>
          </section>

          <section class="container-fluid" style="background-color: #f0f2f6;">
              <div class="container" id="expert2">
                  <div class="row">
                      <div class="col-lg-7">
                            <h2 style="color:  #7249fb;margin-bottom: 30px;margin-left: 30px;margin-top: 40px;">Meet Our Expert Writers</h2>
                          <ul class="ul--sm _wmax-530">
                              <li class="h--sm">
                                  <h2>100+ Writers Always Online</h2>
                                  <p class="p--sm">We work with hundreds of writers, most of whom are always available to take your order. Find an expert who specializes in your subject area!</p>
                              </li>
                              <li class="h--sm" style="margin-bottom: 60px; margin-top: 60px;">
                                    <h2>Dissertations Written by Ph.D. Graduates</h2>
                                    <p class="p--sm">Dissertations require a high level of skills and attentiveness. Such tasks fall into the hands of our Ph.D. graduates who have all the experience necessary to write a proper dissertation!</p>
                                </li>
                                <li class="h--sm" style="margin-bottom: 60px;">
                                        <h2>Close Collaboration
                                            </h2>
                                        <p class="p--sm">Our writers will collaborate and chat with you online to provide the best dissertation writing services possible! Just tell us if you want to get tutoring service from us!</p>
                                    </li>
                                    <li class="h--sm">
                                            <h2>Access to Scientific Sources and Analytical Software
                                                </h2>
                                            <p class="p--sm">Each EssayPro writer has access to numerous scientific databases, as well as analytical software, such as SPSS or Stata, which means they will be able to handle any tasks for you!</p>
                                        </li>
                          </ul>
                      </div>
                      <div class="col-lg-5">
                          <div class="row">
                              <img src="{% static 'img/computer1.gif' %}" id="giff" class="img-fluid">
                          </div>
                          <div class="row" style="margin-top: 50px;">
                                <div class="col-lg-12 text-center">
                                    <a class="banner_btn btn-header" id="findwriter" href="#">Find A Writer</a>
                                </div>
                            </div>
                      </div>
                  </div>
              </div>
          </section>
    

           
               


        <section class="text-center" style="background-color: #f2f5fa; padding: 50px;">
                <div class="container">
                        <div class="row">
                                <div class="col-lg-12 text-center">
                                  <h2 class="section-heading">The Essay Writing Process</h2>
                                </div>
                            </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-4 col-sm-12">
                            <div class="panel panel-white post panel-shadow">
                                <div class="post-heading">
                                    <div class="pull-left image">
                                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="rounded-circle avatar" alt="user profile image">
                                    </div>
                                    <div class="pull-left meta">
                                        <div class="title h5">
                                            <a href="#">Ryan Haywood</a>
                                        </div>
                                        <h6 class="text-muted time">1 minute ago</h6>
                                    </div>
                                    <div class="pull-right">
                                        <div></div>
                                    </div>
                                </div> 
                                <div class="post-description"> 
                                    <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
                                    <div class="stats">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 col-sm-12">
                            <div class="panel panel-white post panel-shadow">
                                <div class="post-heading">
                                    <div class="pull-left image">
                                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="rounded-circle avatar" alt="user profile image">
                                    </div>
                                    <div class="pull-left meta">
                                        <div class="title h5">
                                            <a href="#"><b>Ryan Haywood</b></a>
                
                                        </div>
                                        <h6 class="text-muted time">1 minute ago</h6>
                                    </div>
                                </div> 
                                <div class="post-description"> 
                                    <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
                                    <div class="stats">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-lg-6 col-md-4 col-sm-12">
                                <div class="panel panel-white post panel-shadow">
                                    <div class="post-heading">
                                        <div class="pull-left image">
                                            <img src="http://bootdey.com/img/Content/user_1.jpg" class="rounded-circle avatar" alt="user profile image">
                                        </div>
                                        <div class="pull-left meta">
                                            <div class="title h5">
                                                <a href="#">Ryan Haywood</a>
                                            </div>
                                            <h6 class="text-muted time">1 minute ago</h6>
                                        </div>
                                        <div class="pull-right">
                                            <div></div>
                                        </div>
                                    </div> 
                                    <div class="post-description"> 
                                        <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
                                        <div class="stats">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-4 col-sm-12">
                                <div class="panel panel-white post panel-shadow">
                                    <div class="post-heading">
                                        <div class="pull-left image">
                                            <img src="http://bootdey.com/img/Content/user_1.jpg" class="rounded-circle avatar" alt="user profile image">
                                        </div>
                                        <div class="pull-left meta">
                                            <div class="title h5">
                                                <a href="#"><b>Ryan Haywood</b></a>
                    
                                            </div>
                                            <h6 class="text-muted time">1 minute ago</h6>
                                        </div>
                                    </div> 
                                    <div class="post-description"> 
                                        <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
                                        <div class="stats">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
              </div>
          </section>

          <section style="padding: 150px;" id="another">
              <div class="container-fluid">
                  <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">200+ writers are ready to help students who struggle with academic writing</h2>
                            <p>Getting essay help from a personal tutor will help you become more confident and bold in your writing</p>
                        </div>
                  </div>
                  <div class="row" style="margin-top: 50px;">
                        <div class="col-lg-12 text-center">
                            <a class="banner_btn btn-header" id="findwriter" href="#">Order A issertation More</a>
                        </div>
                    </div>
              </div>
          </section>
              
          {% endblock content %}
        
           