

{% extends "base.html" %}

{% load  static %}

{% block content %}




<section  style="margin-top: 150px; margin-bottom: 90px;">
    <div class="container">
        <h2>Essay Writing Service<br />Hire a Writer.</h2>
        <p style="font-size: 24px;">You think, we write.</p>
        <div></div>
    </div>
    <div class="container" style="padding: 30px;">
        <p style="margin-top: 20px; margin-bottom: 40px;">In short, the unified goal of EssayPro is to make sure that each client can confidently say: “I let the pros write my essay - and now my A is in the bank!". Having satisfied customers make us happy. It helps us to guarantee that when we hire an essay writer, there is a complete assurance of the expert’s competence.</p>
        <p>A high satisfaction rate comes from our skills in scouting out talented writers and editors. These naturally skilled paper writers are thoroughly and rigorously trained even after being accepted to our team. It involves multiple timed performance tests to ensure that they can handle themselves under the highest pressure. Along with it, we help each one hone their abilities when working with our essay writing service.</p>
    </div>
    <div class="container">
            <div class="row">
                <div class="col-lg-5 col">                            
                            <div class="blog_right_sidebar" style="padding-left: 50px; padding-right: 50px;">
                                <aside class="single_sidebar_widget post_category_widget" style="border: 1px transparent;">
                                    <h4 class="widget_title">The Best Essay Writers Online
                                        </h4>
                                    <ul class="list cat-list">
                                        <li>
                                            <a href="#" class="d-flex justify-content-between">
                                                <p>Technology</p>
                                                <p>37</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="d-flex justify-content-between">
                                                <p>Lifestyle</p>
                                                <p>24</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="d-flex justify-content-between">
                                                <p>Fashion</p>
                                                <p>59</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="d-flex justify-content-between">
                                                <p>Art</p>
                                                <p>29</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="d-flex justify-content-between">
                                                <p>Food</p>
                                                <p>15</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="d-flex justify-content-between">
                                                <p>Architecture</p>
                                                <p>09</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="d-flex justify-content-between">
                                                <p>Adventure</p>
                                                <p>44</p>
                                            </a>
                                        </li>															
                                    </ul>
                                    <div class="br"></div>
                                </aside>
                            </div>
                </div>
                <div class="col-lg-7 col">
                  <nav>
                    <div class="nav nav-tabs justify-content-end nav-fill" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Rating</a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Orders</a>
                      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Completion</a>
                    </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"><div class="row">
                      <div class="col">
                        <hr/>
                        <div class="review-block first">
                          <div class="row">
                            <div class="col-sm-3">
                              <img src="{% static 'img/1.jpg' %}" alt="" class="img-rounded" style="width:70px; margin-bottom: 10px;">
                              <div class="review-block-name"><a href="#">Jamey Delapp</a></div>
                            </div>
                            <div class="col-sm-9">
                              <div class="review-block-rate">
                                  <div>
                                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                                    </div>

                              </div>
                              <div class="review-block-title">210 Orders completed</div>
                              <div class="review-block-description">I am an eloquent and punctual online tutor.
                              </div>
                            </div>
                          </div>
                          <hr/>
                          <div class="row">
                            <div class="col-sm-3">
                              <img src="{% static 'img/11.jpg' %}" alt="" class="img-rounded" style="width:70px; margin-bottom: 10px;">
                              <div class="review-block-name"><a href="#">Catherine Riedl</a></div>
                            </div>
                            <div class="col-sm-9">
                              <div class="review-block-rate">
                                  <div>
                                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                                    </div>                                        
                              </div>
                              <div class="review-block-title">201 Orders Completed</div>
                              <div class="review-block-description">A Client Focused Writer                              </div>
                            </div>
                          </div>
                          <hr/>
                          <div class="row">
                            <div class="col-sm-3">
                              <img src="{% static 'img/12.jpg' %}" alt="" class="img-rounded" style="width:70px; margin-bottom: 10px;">
                              <div class="review-block-name"><a href="#">James Homels</a></div>
                            </div>
                            <div class="col-sm-9">
                              <div class="review-block-rate">
                                  <div>
                                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                                    </div>   
                              </div>
                              <div class="review-block-title">197 Orders Completed</div>
                              <div class="review-block-description">I am an expansive and dynamic academic writer.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>








                    <div class="tab-pane fade col" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      <div class="col second">
                        <hr/>
                        <div class="review-block">
                            <div class="row">
                                <div class="col-sm-3">
                                  <img src="{% static 'img/13.jpg' %}" alt="" class="img-rounded" style="width:70px; margin-bottom: 10px;">
                                  <div class="review-block-name"><a href="#">Daniela Sherrod</a></div>
                                </div>
                                <div class="col-sm-9">
                                  <div class="review-block-rate">
                                      <div>
                                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                                        </div> 
                                  </div>
                                  <div class="review-block-title">194 Orders Completed</div>
                                  <div class="review-block-description">The custom essay writer with quality, original and timely essays
                                  </div>
                                </div>
                              </div>
                          <hr/>
                          <div class="row">
                              <div class="col-sm-3">
                                <img src="{% static 'img/cut.jpg' %}" alt="" class="img-rounded" style="width:70px; margin-bottom: 10px;">
                                <div class="review-block-name"><a href="#">Wendell Dearborn</a></div>
                              </div>
                              <div class="col-sm-9">
                                <div class="review-block-rate">
                                    <div>
                                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                                      </div>   
                                </div>
                                <div class="review-block-title">190 Order Completed</div>
                                <div class="review-block-description">I am an outstandingly skillful online essay writer.
                                </div>
                              </div>
                            </div>
                          <hr/>
                          <div class="row">
                              <div class="col-sm-3">
                                <img src="{% static 'img/second.jpg' %}" alt="" class="img-rounded" style="width:70px; margin-bottom: 10px;">
                                <div class="review-block-name"><a href="#">Many Bellew</a></div>
                              </div>
                              <div class="col-sm-9">
                                <div class="review-block-rate">
                                    <div>
                                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                                      </div>  
                                </div>
                                <div class="review-block-title">187 Orders Completed</div>
                                <div class="review-block-description">Skillful online essay writer
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade col" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                      <div class="col third">
                        <hr/>
                        <div class="review-block">
                          <div class="row">
                            <div class="col-sm-3">
                              <img src="{% static 'img/66.jpg' %}" alt="" class="img-rounded" style="width:70px; margin-bottom: 10px;">
                              <div class="review-block-name"><a href="#">Angelique Saulter</a></div>
                            </div>
                            <div class="col-sm-9">
                              <div class="review-block-rate">
                                  <div>
                                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                                    </div>

                              </div>
                              <div class="review-block-title">180 Orders Completed</div>
                              <div class="review-block-description">Detailed, punctual and customer-friendly writer
                              </div>
                            </div>
                          </div>
                          <hr/>
                          <div class="row">
                            <div class="col-sm-3">
                              <img src="{% static 'img/67.jpg' %}" alt="" class="img-rounded" style="width:70px; margin-bottom: 10px;">
                              <div class="review-block-name"><a href="#">Latricia Kloss</a></div>
                            </div>
                            <div class="col-sm-9">
                              <div class="review-block-rate">
                                  <div>
                                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                                    </div>                                       
                              </div>
                              <div class="review-block-title">177</div>
                              <div class="review-block-description">Positive, passionate writer. Timely work guaranteed!
                              </div>
                            </div>
                          </div>
                          <hr/>
                          <div class="row">
                            <div class="col-sm-3">
                              <img src="{% static 'img/cust.jpg' %}" alt="" class="img-rounded" style="width:70px; margin-bottom: 10px;">
                              <div class="review-block-name"><a href="#">Taryn Stops</a></div>
                            </div>
                            <div class="col-sm-9">
                              <div class="review-block-rate">
                                  <div>
                                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                                    </div>   
                              </div>
                              <div class="review-block-title">172 Orders Completed</div>
                              <div class="review-block-description">Originality, High quality, and Timely delivery
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}