<ul class="list">
    <li class="header">Dashboard</li>
    <li>
        <a href="{% url 'customer:place_an_order' %}" >
                <i class="material-icons">account_balance_wallet</i>
            <span>Assignment Details</span>
        </a>
    </li>
   
    
        <li>
                <a href="{% url 'customer:place_an_order' %}" >
                        <i class="material-icons">account_balance_wallet</i>
                    <span>Messages</span>
                </a>
        </li>

        <li>
            <a href="{% url 'customer:place_an_order' %}" >
                    <i class="material-icons">account_balance_wallet</i>
                <span>Pay Writer</span>
            </a>
    </li>
    <li>
        <a href="{% url 'customer:place_an_order' %}" >
                <i class="material-icons">account_balance_wallet</i>
            <span>Download Assignment</span>
        </a>
</li>
</ul>