<div class="menu">
        <ul class="list">
            <li class="header">Dashboard</li>
           

            <li>
                <a href="{% url 'customer:view_bids' order %} ">
                    <span>All Bids</span>
                </a>
            </li>

                <li>
                        <a href="{% url 'customer:order_detail' order %}">
                    
                        <span>Assignment details</span>
                        </a>
                
                </li>

                <li>
                    <a href="{% url 'customer:favorites' order %}">
                       <span>Favorite</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'customer:hired_before' order %}">
                        <span>Hired Before</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'customer:invited' order %}">
                        <span>Invited</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'customer:assign_writers' order %}">
                        <span>Assign A Writer</span>
                    </a>
                </li>
                           
                <li>
                    <a href="{% url 'customer:short_listed' order %}">
                        <span>Shortlisted</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'customer:declined' order %}">
                        <span>Declined</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'customer:additional_files' order  %}">
                        <span>Additional Files</span>
                    </a>
                </li>       
    
                
                
                
        
        </ul>
        </div>