<ul class="list">
    <li class="header">Dashboard</li>
   

        <li>
            <a href="javascript:void(0);" class="menu-toggle active">
                    <i class="material-icons">layers</i>
                    <span>Assignment</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="{% url 'customer:view_all_writers' %}">
                        <span>Assignment details</span>
                    </a>
                </li>
                <li>
                        <a href="{% url 'customer:favorite_writers' %}">
                            <span>Favorite</span>
                        </a>
                    </li>
                <li>
                    <a href="{% url 'customer:agric' %}">
                        <span>Hired Before</span>
                    </a>
                </li>
                <li>
                        <a href="{% url 'customer:culture' %}">
                            <span>Invited</span>
                        </a>
                    </li>
                <li>
                        <a href="{% url 'customer:economic' %}">
                            <span>Assign A Writer</span>
                        </a>
                    </li>
                    <li>
                            <a href="{% url 'customer:lifestyle' %}">
                                <span>New Bids</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'customer:lifestyle' %}">
                                <span>Shortlisted</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'customer:lifestyle' %}">
                                <span>Declined</span>
                            </a>
                        </li>
            </ul>
        </li>

        <li>
                <a href="{% url 'customer:view_transactions' %}" >
                        <i class="material-icons">account_balance_wallet</i>
                    <span>Wallet</span>
                </a>
        </li>
        
        <li>
            <a href="{% url 'blog' %}">
                <i class="material-icons">widgets</i>
                <span>Blogs</span>
            </a>
        </li>
        

</ul>