<ul class="list">
    <li class="header">Dashboard</li>
    <li>
        <a href="{% url 'writers:update_profile'  %}" >
                <i class="material-icons">account_balance_wallet</i>
            <span>Create Account</span>
        </a>
</li>
   
    
    <li>
                <a href="#" >
                        <i class="material-icons">account_balance_wallet</i>
                    <span>Take A Test</span>
                </a>
        </li>
        <li>
            <a href="#" >
                    <i class="material-icons">account_balance_wallet</i>
                <span>View Orders</span>
            </a>
    </li>
    <li>
        <a href="#" >
                <i class="material-icons">account_balance_wallet</i>
            <span>Setup Payment</span>
        </a>
</li>
</ul>