<ul class="list">
        <li class="header">Dashboard</li>
        <li>
                <a href="javascript:void(0);" class="menu-toggle active">
                        <i class="material-icons">home</i>
                        <span>My Orders</span>
                </a>
                <ul class="ml-menu">
                        <li>
                                <a href="{% url 'customer:index' %}">
                                    <span>All Orders</span>
                                </a>
                            </li>
                    <li>
                        <a href="#">
                            <span>Bidding Orders</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'customer:order_in_progress' %}">
                            <span>In Progress</span>
                        </a>
                    </li>
                    <li>
                            <a href="{% url 'customer:completed_order' %}">
                                <span>Completed</span>
                            </a>
                        </li>
                    <li>
                            <a href="{% url 'customer:cancelled_order' %}">
                                <span>Cancelled</span>
                            </a>
                        </li>
                        <li>
                                <a href="{% url 'customer:expired_order' %}">
                                    <span>Expired</span>
                                </a>
                            </li>
                </ul>
            </li>
        <li>
            <a href="{% url 'customer:place_an_order' %}" >
                <i class="material-icons">shopping_cart</i>
                <span>Place An Order</span>
            </a>
        </li>
        
        <li>
                <a href="javascript:void(0);" class="menu-toggle active">
                        <i class="material-icons">layers</i>
                        <span>Writers</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="{% url 'customer:view_all_writers' %}">
                            <span>All Writers</span>
                        </a>
                    </li>
                    <li>
                            <a href="{% url 'customer:favorite_writers' %}">
                                <span>Favorite Writers</span>
                            </a>
                        </li>
                    <li>
                        <a href="{% url 'customer:agric' %}">
                            <span>Agriculture</span>
                        </a>
                    </li>
                    <li>
                            <a href="{% url 'customer:culture' %}">
                                <span>Culture</span>
                            </a>
                        </li>
                    <li>
                            <a href="{% url 'customer:economic' %}">
                                <span>Economic</span>
                            </a>
                        </li>
                        <li>
                                <a href="{% url 'customer:lifestyle' %}">
                                    <span>Lifestyle</span>
                                </a>
                            </li>
                </ul>
            </li>

            <li>
                    <a href="{% url 'customer:view_transactions' %}" >
                            <i class="material-icons">account_balance_wallet</i>
                        <span>Wallet</span>
                    </a>
            </li>
            
            <li>
                <a href="{% url 'blog' %}">
                    <i class="material-icons">widgets</i>
                    <span>Blogs</span>
                </a>
            </li>
            
    
    </ul>