<ul class="list">
        <li class="header">Dashboard</li>
        <li>
                <a href="javascript:void(0);" class="menu-toggle active">
                        <i class="material-icons">home</i>
                        <span>My Orders</span>
                </a>
                <ul class="ml-menu">
                        <li>
                                <a href="#">
                                    <span>All Orders</span>
                                </a>
                            </li>
                    <li>
                        <a href="#">
                            <span>New Orders</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Orders With Bid</span>
                        </a>
                    </li>
                    <li>
                            <a href="#">
                                <span>Completed</span>
                            </a>
                        </li>
                    <li>
                            <a href="#">
                                <span>Expired</span>
                            </a>
                        </li>
                      
                </ul>
            </li>
       
        
        <li>
                    <a href="{% url 'customer:place_an_order' %}" >
                            <i class="material-icons">account_balance_wallet</i>
                        <span>Wallet</span>
                    </a>
            </li>
    </ul>