
{% extends 'customer/base.html' %}
{% load static %}
{% block content %}

 <div class="page-wrapper">
    <div class="page-content--bge5">
        <div class="container">
            <div class="login-wrap">
                <div class="login-content">
                    <div class="login-logo">
                           <h3> Essay Kitten</h3>
                    </div>
                    <div class="login-form">
                        <div class="card">
                            <div class="card-header">Credit Account</div>
                            <div class="card-body">
                                <div class="card-title">
                                </div>
                                <hr>
                                <form action="" method="POST" novalidate="novalidate">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="cc-payment" class="control-label mb-1"> Amount</label>
                                        {{ form.amount }}
                                    </div>
                                    <div>
                                        <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                            <i class="fa fa-lock fa-lg"></i>&nbsp;
                                            <span id="payment-button-amount">Continue</span>
                                            <span id="payment-button-sending" style="display:none;">Sending…</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}