{% extends 'customer/base.html' %}
{% load static %}
{% block content %}
   <div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid" style="margin-bottom: 40px; padding-left: 30px; padding-right: 50px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap row">
                        <h2 class="title-1">Balance<span class="badge badge-success" style="margin-left: 10px"> ${{ wallet_balance.balance }} </span>
                              </h2>
                           <a href="{% url 'customer:process_payment' %}">
                        <button class="au-btn au-btn-icon au-btn--blue" >
                            <i class="zmdi zmdi-plus"></i>Fund Wallet</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="padding-bottom: 10px">
            <!-- DATA TABLE-->
            <div class="table-responsive m-b-40">
                <table class="table table-borderless table-data3">
                    
                    <thead>
                        <tr>
                            <th>date</th>
                            <th>type</th>
                            <th>description</th>
                            <th>Amount</th>
                            <th>status</th>
                        </tr>
                    </thead>
                    {% for item in wallet %}
                    <tbody>
                        <tr>
                            <td>{{ item.date }}</td>
                            <td>Visa</td>
                            <td>{{ item.description }}</td>
                            <td>${{item.credit }}</td>
                            {% if item.status %}
                            <td class="process">Approved</td>
                            {% else %}
                            <td class="denied">Declined</td>
                            {% endif %}
                            

                        </tr>
                                                            

                    </tbody>
                    {% endfor %}
                </table>
            </div>
            <!-- END DATA TABLE-->
        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->
{% endblock content %}