   <!-- MAIN CONTENT-->
   <div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid" style="margin-bottom: 40px; padding-left: 30px; padding-right: 50px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap row">
                        <h2 class="title-1">Balance<a href="#">
                                <span class="badge badge-success" style="margin-left: 10px"> $ 2200</span>
                              </a></h2>
                        <button class="au-btn au-btn-icon au-btn--blue">
                            <i class="zmdi zmdi-plus"></i>Fund Wallet</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="padding-bottom: 10px">
            <!-- DATA TABLE-->
            <div class="table-responsive m-b-40">
                <table class="table table-borderless table-data3">
                    <thead>
                        <tr>
                            <th>date</th>
                            <th>type</th>
                            <th>description</th>
                            <th>Amount</th>
                            <th>status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2018-09-29 05:57</td>
                            <td>Visa</td>
                            <td>iPhone X 64Gb Grey</td>
                            <td>$999.00</td>
                            <td class="process">Approved</td>
                        </tr>
                        <tr>
                            <td>2018-09-28 01:22</td>
                            <td>American Express</td>
                            <td>Samsung S8 Black</td>
                            <td>$756.00</td>
                            <td class="process">Approved</td>
                        </tr>                                                

                        <tr>
                            <td>2018-09-27 02:12</td>
                            <td>Master Crad</td>
                            <td>Game Console Controller</td>
                            <td>$22.00</td>
                            <td class="denied">Declined</td>
                        </tr>
                        <tr>
                            <td>2018-09-26 23:06</td>
                            <td>Visa</td>
                            <td>iPhone X 256Gb Black</td>
                            <td>$1199.00</td>
                            <td class="denied">Declined</td>
                        </tr>
                        <tr>
                            <td>2018-09-25 19:03</td>
                            <td>Visa</td>
                            <td>USB 3.0 Cable</td>
                            <td>$10.00</td>
                            <td class="process">Approved</td>
                        </tr>
                        <tr>
                            <td>2018-09-29 05:57</td>
                            <td>Master Crad</td>
                            <td>Smartwatch 4.0 LTE Wifi</td>
                            <td>$199.00</td>
                            <td class="process">Approved</td>
                        </tr>
                        <tr>
                            <td>2018-09-24 19:10</td>
                            <td>Visa</td>
                            <td>Camera C430W 4k</td>
                            <td>$699.00</td>
                            <td class="process">Approved</td>
                        </tr>
                        <tr>
                            <td>2018-09-22 00:43</td>
                            <td>American Express</td>
                            <td>Macbook Pro Retina 2017</td>
                            <td>$10.00</td>
                            <td class="process">Approved</td>
                        </tr>
                        <tr>
                            <td>2018-09-22 00:43</td>
                            <td>American Express</td>
                            <td>Macbook Pro Retina 2017</td>
                            <td>$10.00</td>
                            <td class="process">Approved</td>
                        </tr>
                        <tr>
                            <td>2018-09-22 00:43</td>
                            <td>American Express</td>
                            <td>Macbook Pro Retina 2017</td>
                            <td>$10.00</td>
                            <td class="process">Approved</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- END DATA TABLE-->
        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->