

  <!-- TOP CAMPAIGN-->
  <div class="top-campaign">
    <div class="table-responsive">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Writers <span class="badge badge-primary">5</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">All Writers    <span class="badge badge-primary">5</span> </a>
              <a class="dropdown-item" href="#">Agriculture  <span class="badge badge-primary">5</span></a>
              <a class="dropdown-item" href="#">Architecture  <span class="badge badge-primary">5</span></a>
              <a class="dropdown-item" href="#">Architecture  <span class="badge badge-primary">5</span></a>
              <a class="dropdown-item" href="#">Architecture  <span class="badge badge-primary">5</span></a>
              <a class="dropdown-item" href="#">Architecture  <span class="badge badge-primary">5</span></a>
              <a class="dropdown-item" href="#">Architecture  <span class="badge badge-primary">5</span></a>
              <a class="dropdown-item" href="#">Architecture  <span class="badge badge-primary">5</span></a>
              <a class="dropdown-item" href="#">Architecture  <span class="badge badge-primary">5</span></a>
              <a class="dropdown-item" href="#">Architecture  <span class="badge badge-primary">5</span></a>
              <a class="dropdown-item" href="#">Architecture  <span class="badge badge-primary">5</span></a>
              <a class="dropdown-item" href="#">Architecture  <span class="badge badge-primary">5</span></a>
              <a class="dropdown-item" href="#">Architecture  <span class="badge badge-primary">5</span></a>
            </div>
          </div>
    </div>
</div>

{% block content %}
{% endblock content %}
