{% extends 'index/base.html' %}
{% block content %}

    <section class="content">
        <div class="container-fluid">
                {% include 'users/header.html' %}
            <div class="block-header">
                <h2>Completed Orders</h2>
            </div>
           
            <!-- Basic Table -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        
                        <div class="body table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Order ID</th>
                                        <th>Topic</th>
                                        <th>Deadline</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                {% for order in orders %}
                                <tbody>
                                    <tr>
                                        <td><a href="#"></a>{{ order.order_uuid }}</td>
                                        <td>{{ order.topic }}</td>
                                        <td>{{ order.deadline }}</td>
                                        {% if order.completed %}
   
                                    <td><span class="badge bg-green" style="font-size:14px;">Completed</span></td>                                                
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    ACTION <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                        <li><a href="javascript:void(0);">  
                                                        <div class="demo-google-material-icon"><i class="material-icons">attach_money</i> <span class="icon-name"></span></div>
                                                            Pay Writer</a></li>
                                                    <li><a href="javascript:void(0);">
                                                            <div class="demo-google-material-icon"> <i class="material-icons">content_paste</i> <span class="icon-name"></span></div>                       
                                                            End Contract</a>
                                                    </li>
                                                        <li><a href="javascript:void(0);"> 
                                                                <div class="demo-google-material-icon"> <i class="material-icons">highlight_off</i> <span class="icon-name"></span></div>
                                                            Cancel Contract</a>
                                                        </li>
                                                        <li><a href="javascript:void(0);"> 
                                                                <div class="demo-google-material-icon"><i class="material-icons">grade</i><span class="icon-name"></span></div>
                                                            Rate Writer</a>
                                                        </li>
                                                        <li><a href="javascript:void(0);">
                                                            <div class="demo-google-material-icon"> <i class="material-icons">thumb_up</i> <span class="icon-name"></span> </div>
                                                            Add To Favorite</a>
                                                        </li>
                                                        <li><a href="javascript:void(0);"> 
                                                                <div class="demo-google-material-icon"><i class="material-icons">person_add</i><span class="icon-name"></span></div>
                                                            Place Order</a>
                                                        </li>
                                                </ul>
                                            </div>
                                       
                
                                    </td>
                                    {% else %}
                                    <p>No order</p>
                                   
                                    
                                    
                                    {% endif %}
                                
                                    
                                    </tr>
                                    {% endfor %}
   
                                </tbody>
                            </table>
                        </div>
                        {% if orders.has_other_page %}
                        <nav>
                           
                            <ul class="pagination">
                                {% if orders.has_previous %}
                                
                                <li class="active"><a href="?page={{ orders.previous_page_number }}">&laguo;</a></li>
                                {% else %}
                                <li class="disabled">
                                        <a href="javascript:void(0);">
                                            <i class="material-icons">chevron_left</i>
                                        </a>
                                    </li>
                                {% endif %}
                                {% for i in orders.paginator.page.page_range %}
                                {% if orders.number == i %}
                            
                                <li class="active"><span>{{ i }} <span class="sr-only">( current )</span></span></li>
                                {% else %}
                                
                                <li><a href="?page={{ i }}" class="waves-effect">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if orders.has_next %}
                
                                <li><a href="?page={{ orders.next_page_number }}" class="waves-effect">&raguo;</a></li>
                                {% else %}
                                <li class="disabled">
                                        <a href="javascript:void(0);">
                                            <i class="material-icons">chevron_left</i>
                                        </a>
                                    </li>
                                    {% endif %}
                           
                            </ul>
                            </nav>
                            {% endif %}

                    </div>
                </div>
            </div>
            <!-- #END# Basic Table -->
            <!-- #END# With Material Design Colors -->
        </div>
    </section>


{% endblock content %}