{% extends 'index/base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'contrib/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'contrib/font-awesome.min.css' %}">
<script src="{% static 'contrib/bootstrap.js' %}"></script>

<link href="{% static 'plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet" />

<!-- Wait Me Css -->
<link href="{% static 'plugins/waitme/waitMe.css' %}" rel="stylesheet" />

<!-- Bootstrap Select Css -->
<link href="{% static 'plugins/bootstrap-select/css/bootstrap-select.css' %}" rel="stylesheet" />

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2 style="font-size: 20px;">Place An Order</h2>
            </div>
           <!-- Select -->
           <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                           Insert The Neccesary Details
                        </h2>
                        
                       
                    </div>
                  
                 <div class="body" id="form22">
              
                    <form method="POST" action="{% url 'customer:place_an_order' %}">
                        {% csrf_token %}
                        <div class="row clearfix">
                            
                            <div class="col-sm-6">
                                {{ form.order_type }}
                            </div>
                            <div class="col-sm-6">
                                {{ form.pages }}
                                
                            </div>
                        </div>
                        <div class="row clearfix" style="margin-top:30px; margin-bottom:30px;">
                            <div class="col-sm-6">
                
                                    {{ form.service }}
                          
                            </div>
                            <div class="col-sm-6">
                                    {{ form.sources }}
                                
                            </div>
                        </div>
                        <div class="row clearfix"  style=" margin-bottom:30px;">
                            <div class="col-sm-6">
                                    {{ form.subject }}
                               

                            </div>
                            <div class="col-sm-6">
                                    {{ form.style }}
                            </div>
                        </div>
                        <div class="row clearfix" style="margin-bottom:30px;" >
                            <div class="col-sm-6">
                                    {{ form.level }}
                            </div>
                         
                        </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                   {{ form.deadline }}
                                
                                </div>
                            </div>
                    

                        <div class="row clearfix" style=" margin-bottom:30px;">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-line focused">
                                            {{ form.topic }}
                                </div>
                            </div>
                            </div>
                        </div>
        
                        <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                           {{ form.description }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix text-center">
                                    <div class="col-lg-12">
                                            <button type="submit" style="font-size: 18px;" class="btn btn-primary waves-effect m-r-20">
                                                    PLACE ORDER
                                            </button>
                                    </div> 
                                </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Select -->
        </div>
      
    </section>
    <script src="{% static 'jsnew/pages/forms/basic-form-elements.js' %}"></script>
    <script src="{% static 'jsnew/pages/forms/form-validation.js' %}"></script>
    <script src="{% static 'plugins/jquery-validation/jquery.validate.js' %}"></script>

    <!-- JQuery Steps Plugin Js -->
    <script src="{% static 'plugins/jquery-steps/jquery.steps.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-select/js/bootstrap-select.js' %}"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="{% static 'plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{% static 'plugins/node-waves/waves.js' %}"></script>

    <!-- Autosize Plugin Js -->
    <script src="{% static 'plugins/autosize/autosize.js' %}"></script>

    <!-- Moment Plugin Js -->
    <script src="{% static 'plugins/momentjs/moment.js' %}"></script>

    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    

     
    {% endblock content %}

   
    {% if form.errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert=error"><strong>
        {{ error|escape }} </strong></div> 
        {% endfor %}
        {% for error in form.errors %}
        <div class="alert alert=error"><strong>
        {{ error|escape }} </strong></div> 
        {% endfor %}
        {% endif %}