{% extends 'index/base.html' %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2 style="font-size: 20px;">Place An Order</h2>
            </div>
           <!-- Select -->
           <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                           Insert The Neccesary Details
                        </h2>
                       
                    </div>
                 <div class="body" style="padding-left:150px; padding-right: 150px;">
                    <form action="{% url 'customer:update_order' order.order_uuid %}" method="POST">
                        {% csrf_token %}
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                {{ form.order_type }}
                            </div>
                            <div class="col-sm-6">
                                {{ form.pages }}
                                
                            </div>
                        </div>
                        <div class="row clearfix" style="margin-top:30px; margin-bottom:30px;">
                            <div class="col-sm-6">
                
                                    {{ form.service }}
                          
                            </div>
                            <div class="col-sm-6">
                                    {{ form.sources }}
                                
                            </div>
                        </div>
                        <div class="row clearfix"  style=" margin-bottom:30px;">
                            <div class="col-sm-6">
                                    {{ form.subject }}
                               

                            </div>
                            <div class="col-sm-6">
                                    {{ form.style }}
                            </div>
                        </div>
                        <div class="row clearfix" style="margin-bottom:30px;" >
                            <div class="col-sm-6">
                                    {{ form.level }}
                            </div>
                            <div class="col-sm-6">
                                    {{ form.level }}
                            </div>
                        </div>
                        
                           
                       
                  
                       
              
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form.deadline}}
                                    </div>
                                </div>
                            </div>
                    

                        <div class="row clearfix" style=" margin-bottom:30px;">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-line focused">
                                            {{ form.topic }}
                                </div>
                            </div>
                            </div>
                        </div>
        
                        <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                           {{ form.description }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix text-center">
                                    <div class="col-lg-12">
                                            <button type="submit" style="font-size: 18px;" class="btn btn-primary waves-effect m-r-20">
                                                    EDIT ORDER
                                            </button>
                                    </div> 
                                </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Select -->
        </div>

     
    </section>
    {% endblock content %}

   
