
{% extends 'customer/base.html' %}
{% load static %}
{% block content %}


 <!-- MAIN CONTENT-->
 <div class="main-content" style="background-color: #fff;height: 1450px;">
    <div class="section__content section__content--p30">
       
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1" style="margin-top: 50px;margin-bottom: 50px;">Place Orders</h2>
                    </div>
                </div>
            </div>
     
        <div class="container-fluid">
             <div class="row">
                 <div class="col-lg-3">
                     <div style="width: 200px">
                        <nav class="nav flex-column">
                            <a class="nav-link link active" href="#">Assignment Details</a>
                            <a class="nav-link link" href="#">Addition files</a>
                            <a class="nav-link link" href="#">Invites writers</a>
                            <a class="nav-link link" href="#">Assign a writers</a>
                        </nav>
                     </div>
                 </div>
                 <div class="col-lg-9">
                     
                            <form action="{% url 'customer:place_an_order' %}" method="POST"  class="form-horizontal" id="form-submit">
                                    {% csrf_token %}

                                    <div class="row">

                             <div class="col-lg-5">
                                    <div class="row form-group" style="margin-bottom: 35px;">
                                            <div class="col-lg-12">
                                     
                                                    {{form.order_type}}

                                                    
                    
                                            </div>
                                        </div>
                                        <div class="row form-group" style="margin-bottom: 35px;">
                                                <div class="col-lg-12">
                                                   {{ form.pages }}
                                                </div>
                                            </div>
                                            <div class="row form-group" style="margin-bottom: 35px;">
                                                    <div class="col-lg-12">
                                                       {{ form.service }}
                                                    </div>
                                                </div>
                                                <!--
                                                <div class="row form-group" style="margin-bottom: 35px;">
                                                        <div class="col-lg-12">
                                                            {{ form.deadline }}
                    
                                                        </div>
                                                    </div>
                                                -->
                                                <div class="form-group row">
                                                    <label for="example-date-input" class="col-2 col-form-label">Date</label>
                                                    <div class="col-10">
                                                      <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                                                    </div>
                                                  </div>

                                                    <div class="row form-group" style="margin-bottom: 35px;">
                                                            <div class="col-lg-12">
                                                                {{ form.sources }}
                                    
                                                            </div>
                                                        </div>
                                                        <div class="row form-group" style="margin-bottom: 35px;">
                                                                <div class="col-lg-12">
                                                                    {{ form.style }}
                                                            
                                                                </div>
                                                            </div>
                                                            <div class="row form-group" style="margin-bottom: 35px;">
                                                                    <div class="col-lg-12">
                                                                        {{ form.subject }}
                                                                     
                                                                    </div>
                                                                </div>
                                                                <div class="row form-group" style="margin-bottom: 35px;">
                                                                        <div class="col-lg-12">
                                                                         {{ form.level }}
                                                                        </div>
                                                                    </div>

                             </div>
                             <div class="col-lg-7">
                                    <div class="row">
                                       <div class="form-group">
                                           {{ form.topic }}
                               
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="row form-group">
                                           <div class="col-lg-12">
                                               {{ form.description }}
                                              
                                           </div>
                                       </div>
                                    </div>
                                    <div class="row" style="margin-top: 61px">
                                        <div class="col-lg-12">
                                           <button class="au-btn au-btn-icon au-btn--blue float-left" type="submit" id="form-submit">
                                               <i class="zmdi zmdi-plus"></i>Place New Order
                                           </button>
                                        </div>
                                    </div>
                             </div>
                            </div>
                         </form>
                        </div>
                     </div>
                    
        </div>
    </div>
</div>

<script>
</script>

{% endblock %}
<!-- END MAIN CONTENT-->




















<link rel="icon" href="../../favicon.ico" type="image/x-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

<!-- Bootstrap Core Css -->
<link href="../../plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

<!-- Waves Effect Css -->
<link href="../../plugins/node-waves/waves.css" rel="stylesheet" />

<!-- Animation Css -->
<link href="../../plugins/animate-css/animate.css" rel="stylesheet" />

<!-- Sweet Alert Css -->
<link href="../../plugins/sweetalert/sweetalert.css" rel="stylesheet" />

<!-- Custom Css -->
<link href="../../css/style.css" rel="stylesheet">

<!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
<link href="../../css/themes/all-themes.css" rel="stylesheet" />
  <!-- Bootstrap Core Css -->
  <link href="../../plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Waves Effect Css -->
  <link href="../../plugins/node-waves/waves.css" rel="stylesheet" />

  <!-- Animation Css -->
  <link href="../../plugins/animate-css/animate.css" rel="stylesheet" />

  <!-- Bootstrap Material Datetime Picker Css -->
  <link href="../../plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />

  <!-- Wait Me Css -->
  <link href="../../plugins/waitme/waitMe.css" rel="stylesheet" />

  <!-- Bootstrap Select Css -->
  <link href="../../plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

  <!-- Custom Css -->
  <link href="../../css/style.css" rel="stylesheet">

  <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
  <link href="../../css/themes/all-themes.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="../../plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="../../plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="../../plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="../../css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="../../css/themes/all-themes.css" rel="stylesheet" />
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
  
      <!-- Bootstrap Core Css -->
      <link href="../../plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
  
      <!-- Waves Effect Css -->
      <link href="../../plugins/node-waves/waves.css" rel="stylesheet" />
  
      
      <!-- Range Slider Css -->
      <link href="../../plugins/ion-rangeslider/css/ion.rangeSlider.css" rel="stylesheet" />
      <link href="../../plugins/ion-rangeslider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet" />
  
      <!-- Animation Css -->
      <link href="../../plugins/animate-css/animate.css" rel="stylesheet" />
  
      
      <link href="../../plugins/node-waves/waves.css" rel="stylesheet" />
  
      <!-- Animation Css -->
      <link href="../../plugins/animate-css/animate.css" rel="stylesheet" />
  
      <!-- Sweetalert Css -->
      <link href="../../plugins/sweetalert/sweetalert.css" rel="stylesheet" />
  
      <!-- Custom Css -->
      <link href="../../css/style.css" rel="stylesheet">
  
      <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
      <link href="../../css/themes/all-themes.css" rel="stylesheet" />
       <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="../../plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="../../plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="../../plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Sweetalert Css -->
    <link href="../../plugins/sweetalert/sweetalert.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="../../css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="../../css/themes/all-themes.css" rel="stylesheet" />





































































































































































<script src="../../plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap Core Js -->
<script src="../../plugins/bootstrap/js/bootstrap.js"></script>

<!-- Select Plugin Js -->
<script src="../../plugins/bootstrap-select/js/bootstrap-select.js"></script>

<!-- Slimscroll Plugin Js -->
<script src="../../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<!-- Jquery Validation Plugin Css -->
<script src="../../plugins/jquery-validation/jquery.validate.js"></script>

<!-- JQuery Steps Plugin Js -->
<script src="../../plugins/jquery-steps/jquery.steps.js"></script>

<!-- Sweet Alert Plugin Js -->
<script src="../../plugins/sweetalert/sweetalert.min.js"></script>

<!-- Waves Effect Plugin Js -->
<script src="../../plugins/node-waves/waves.js"></script>

<!-- Custom Js -->
<script src="../../js/admin.js"></script>
<script src="../../js/pages/forms/form-validation.js"></script>

<!-- Demo Js -->
<script src="../../js/demo.js"></script>
<script src="../../plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="../../plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="../../plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="../../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="../../plugins/node-waves/waves.js"></script>

    <!-- Custom Js -->
    <script src="../../js/admin.js"></script>

    <!-- Demo Js -->
    <script src="../../js/demo.js"></script>
     <!-- Jquery Core Js -->
     <script src="../../plugins/jquery/jquery.min.js"></script>

     <!-- Bootstrap Core Js -->
     <script src="../../plugins/bootstrap/js/bootstrap.js"></script>
 
     <!-- Select Plugin Js -->
     <script src="../../plugins/bootstrap-select/js/bootstrap-select.js"></script>
 
     <!-- Slimscroll Plugin Js -->
     <script src="../../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
 
     <!-- Waves Effect Plugin Js -->
     <script src="../../plugins/node-waves/waves.js"></script>
 
     <!-- Custom Js -->
     <script src="../../js/admin.js"></script>
     -- RangeSlider Plugin Js -->
     <script src="../../plugins/ion-rangeslider/js/ion.rangeSlider.js"></script>
 
     <!-- Custom Js -->
     <script src="../../js/admin.js"></script>
     <script src="../../js/pages/ui/range-sliders.js"></script>
 
     <!-- Demo Js -->
     <script src="../../js/demo.js"></script>
     <script src="../../plugins/sweetalert/sweetalert.min.js"></script>
 
     <!-- Custom Js -->
     <script src="../../js/admin.js"></script>
     <script src="../../js/pages/ui/dialogs.js"></script>
     <script src="../../plugins/bootstrap-select/js/bootstrap-select.js"></script>
 
     <!-- Slimscroll Plugin Js -->
     <script src="../../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
 
     <!-- Bootstrap Notify Plugin Js -->
     <script src="../../plugins/bootstrap-notify/bootstrap-notify.js"></script>
 
     <!-- Waves Effect Plugin Js -->
     <script src="../../plugins/node-waves/waves.js"></script>
       <!-- Jquery Core Js -->
    <script src="../../plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="../../plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="../../plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="../../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Bootstrap Notify Plugin Js -->
    <script src="../../plugins/bootstrap-notify/bootstrap-notify.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="../../plugins/node-waves/waves.js"></script>

    <!-- SweetAlert Plugin Js -->
    <script src="../../plugins/sweetalert/sweetalert.min.js"></script>

    <!-- Custom Js -->
    <script src="../../js/admin.js"></script>
    <script src="../../js/pages/ui/dialogs.js"></script>

    <!-- Demo Js -->
    <script src="../../js/demo.js"></script>