
{% extends 'customer/base.html' %}
{% load static %}
{% block content %}


 <!-- MAIN CONTENT-->
 <div class="main-content" style="background-color: #fff;height: 1450px;">
    <div class="section__content section__content--p30">
       
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1" style="margin-top: 50px;margin-bottom: 50px;">Place Orders</h2>
                    </div>
                </div>
            </div>
     
        <div class="container-fluid">
             <div class="row">
                 <div class="col-lg-3">
                     <div style="width: 200px">
                        <nav class="nav flex-column">
                            <a class="nav-link link active" href="#">Assignment Details</a>
                            <a class="nav-link link" href="#">Addition files</a>
                            <a class="nav-link link" href="#">Invites writers</a>
                            <a class="nav-link link" href="#">Assign a writers</a>
                        </nav>
                     </div>
                 </div>
                 <div class="col-lg-9">
                     
                            <form action="{% url 'customer:place_an_order' %}" method="POST"  class="form-horizontal" id="form-submit">
                                    {% csrf_token %}

                                    <div class="row">

                             <div class="col-lg-5">
                                    <div class="row form-group" style="margin-bottom: 35px;">
                                            <div class="col-lg-12">
                                     
                                                    {{form.order_type}}

                                                    
                    
                                            </div>
                                        </div>
                                        <div class="row form-group" style="margin-bottom: 35px;">
                                                <div class="col-lg-12">
                                                   {{ form.pages }}
                                                </div>
                                            </div>
                                            <div class="row form-group" style="margin-bottom: 35px;">
                                                    <div class="col-lg-12">
                                                       {{ form.service }}
                                                    </div>
                                                </div>
                                                <!--
                                                <div class="row form-group" style="margin-bottom: 35px;">
                                                        <div class="col-lg-12">
                                                           
                    
                                                        </div>
                                                    </div>
                                                
                                                <div class="form-group row">
                                                    <label for="example-date-input" class="col-2 col-form-label">Date</label>
                                                    <div class="col-10">
                                                            {{ form.deadline }}
                                                    </div>
                                                  </div>
                                                -->

                                                    <div class="row form-group" style="margin-bottom: 35px;">
                                                            <div class="col-lg-12">
                                                                {{ form.sources }}
                                    
                                                            </div>
                                                        </div>
                                                        <div class="row form-group" style="margin-bottom: 35px;">
                                                                <div class="col-lg-12">
                                                                    {{ form.style }}
                                                            
                                                                </div>
                                                            </div>
                                                            <div class="row form-group" style="margin-bottom: 35px;">
                                                                    <div class="col-lg-12">
                                                                        {{ form.subject }}
                                                                     
                                                                    </div>
                                                                </div>
                                                                <div class="row form-group" style="margin-bottom: 35px;">
                                                                        <div class="col-lg-12">
                                                                         {{ form.level }}
                                                                        </div>
                                                                    </div>

                             </div>
                             <div class="col-lg-7">
                                    <div class="row">
                                       <div class="form-group">
                                           {{ form.topic }}
                               
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="row form-group">
                                           <div class="col-lg-12">
                                               {{ form.description }}
                                              
                                           </div>
                                       </div>
                                    </div>
                                    <div class="row" style="margin-top: 61px">
                                        <div class="col-lg-12">
                                           <button class="au-btn au-btn-icon au-btn--blue float-left" type="submit" id="form-submit">
                                               <i class="zmdi zmdi-plus"></i>Place New Order
                                           </button>
                                        </div>
                                    </div>
                             </div>
                            </div>
                         </form>
                        </div>
                     </div>
                    
        </div>
    </div>
</div>

<script>
</script>

{% endblock %}
<!-- END MAIN CONTENT-->