
{% extends 'customer/base.html' %}
{% load static %}
{% block content %}


 <!-- MAIN CONTENT-->
 <div class="main-content" style="background-color: #fff;height: 1450px;">
    <div class="section__content section__content--p30">
       
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1" style="margin-top: 50px;margin-bottom: 50px;">Place Orders</h2>
                    </div>
                </div>
            </div>
     
        <div class="container-fluid">
             <div class="row">
                 <div class="col-lg-3">
                     <div style="width: 200px">
                        <nav class="nav flex-column">
                            <a class="nav-link link active" href="#">Assignment Details</a>
                            <a class="nav-link link" href="#">Addition files</a>
                            <a class="nav-link link" href="#">Invites writers</a>
                            <a class="nav-link link" href="#">Assign a writers</a>
                        </nav>
                     </div>
                 </div>
                 <div class="col-lg-9">
                     
                        <div class="body">
                                <form id="form_validation" method="POST" style="padding-right:200px; padding-left:200px;">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                                <select class="form-control show-tick">
                                                        <option value="">-- Please select --</option>
                                                        <option value="10">10</option>
                                                        <option value="20">20</option>
                                                        <option value="30">30</option>
                                                        <option value="40">40</option>
                                                        <option value="50">50</option>
                                                    </select>
                                                </div>
                                        </div>
                                        <div class="form-group form-float">
                                                <div class="form-line">
                                                        <select class="form-control show-tick">
                                                                <option value="">-- Please select --</option>
                                                                <option value="10">10</option>
                                                                <option value="20">20</option>
                                                                <option value="30">30</option>
                                                                <option value="40">40</option>
                                                                <option value="50">50</option>
                                                            </select>
                                                        </div>
                                                </div>
                                                <div class="form-group form-float">
                                                        <div class="form-line">
                                                                <select class="form-control show-tick">
                                                                        <option value="">-- Please select --</option>
                                                                        <option value="10">10</option>
                                                                        <option value="20">20</option>
                                                                        <option value="30">30</option>
                                                                        <option value="40">40</option>
                                                                        <option value="50">50</option>
                                                                    </select>
                                                                </div>
                                                        </div>
                                                        <div class="form-group form-float">
                                                                <div class="form-line">
                                                                        <select class="form-control show-tick">
                                                                                <option value="">-- Please select --</option>
                                                                                <option value="10">10</option>
                                                                                <option value="20">20</option>
                                                                                <option value="30">30</option>
                                                                                <option value="40">40</option>
                                                                                <option value="50">50</option>
                                                                            </select>
                                                                        </div>
                                                                </div>
                                                                <div class="form-group form-float">
                                                                        <div class="form-line">
                                                                                <select class="form-control show-tick">
                                                                                        <option value="">-- Please select --</option>
                                                                                        <option value="10">10</option>
                                                                                        <option value="20">20</option>
                                                                                        <option value="30">30</option>
                                                                                        <option value="40">40</option>
                                                                                        <option value="50">50</option>
                                                                                    </select>
                                                                                </div>
                                                                        </div>
                                                                        <div class="form-group form-float">
                                                                                <div class="form-line">
                                                                                        <select class="form-control show-tick">
                                                                                                <option value="">-- Please select --</option>
                                                                                                <option value="10">10</option>
                                                                                                <option value="20">20</option>
                                                                                                <option value="30">30</option>
                                                                                                <option value="40">40</option>
                                                                                                <option value="50">50</option>
                                                                                            </select>
                                                                                        </div>
                                                                                </div>
                                                                                <div class="form-group form-float">
                                                                                        <div class="form-line">
                                                                                                <select class="form-control show-tick">
                                                                                                        <option value="">-- Please select --</option>
                                                                                                        <option value="10">10</option>
                                                                                                        <option value="20">20</option>
                                                                                                        <option value="30">30</option>
                                                                                                        <option value="40">40</option>
                                                                                                        <option value="50">50</option>
                                                                                                    </select>
                                                                                                </div>
                                                                                        </div>
                                                                                        <div class="form-group form-float">
                                                                                                <div class="form-line">
                                                                                                    <input type="text" class="form-control" name="name" required>
                                                                                                    <label class="form-label">Topic</label>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group form-float">
                                                                                                    <div class="form-line">
                                                                                                        <input type="text" class="form-control" name="minmaxlength" maxlength="1000" minlength="20" required>
                                                                                                        <label class="form-label">Description</label>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <button class="btn btn-primary waves-effect" data-type="with-custom-icon">PLACE ORDER</button>
    
                                </form>
                        </div>
                     </div>
                    
        </div>
    </div>
</div>

<script>
</script>

{% endblock %}
<!-- END MAIN CONTENT-->