
{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% block content %} 



<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login101 text-center">
            <form class="login100-form validate-form" method="POST" action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                <span class="login100-form-title">
                    <h2 id="login-title" style="color: #f05f40">Reset Password</h2>
                </span>
                {% if form.errors %}
				{% for error in form.errors %}
					<p class="text-warning" style="margin-bottom: 20px;margin-left: 10px;color: red;">{{ error }} </p>
					{% endfor %}
					{% endif %}


                <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                    {{ form.email }}
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>
                
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Reset
                    </button>
                </div>					

                <div class="text-center p-t-136">
                    <a class="txt2" href="#" id="link">
                        Resend Link
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

	{% endblock content %}