{% extends 'index/base.html' %}
{% block navbar %}
{% include 'index/bids_nav.html' %}
{% endblock navbar %}
{% block content %}
{% load static %}

    <section class="content">
        <div class="container-fluid">
            
            <!-- Basic Examples -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                     
             <!-- Basic Table -->
             <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        
                        <div class="body table-responsive">
                                <table class="table table-bordered js-sweetalert">
                                        <thead>
                                            <tr>
                                                    <th>File Name</th>
                                                    
                                                    <th>ACTION</th>
                                            </tr>
                                        </thead>
                                      {% for f in files %}
                                        <tbody>
                                               
                                                <tr>
                                                        <td><a href="#">{{ f.files }}</a></td>
                                                        <td><button type="button" class="btn btn-success waves-effect">DOWNLOAD</button></td>
                                                    </tr>
                                                        <tr>
                                                                <td><a href="#"></a>Optional</td>
                                                                <td><button type="button" class="btn btn-success waves-effect">DOWNLOAD</button></td>
                                            
                                                            </tr>
                                                            <tr>
                                                                    <td><a href="#"></a>Optional</td>
                                                                    <td><button type="button" class="btn btn-success waves-effect">DOWNLOAD</button></td>
                                                                </tr>
                                                                <tr>
                                                                        <td><a href="#"></a>Optional</td>
                                                                        <td><button type="button" class="btn btn-success waves-effect">DOWNLOAD</button></td>
                                                    
                                                                    </tr>
                                                                    <tr>
                                                                            <td><a href="#"></a>Optional</td>
                                                                            <td><button type="button" class="btn btn-success waves-effect">DOWNLOAD</button></td>
        
                                                                        </tr>
                                                                        <tr>
                                                                                <td><a href="#"></a>Optional</td>
                                                                                <td><button type="button" class="btn btn-success waves-effect">DOWNLOAD</button></td>
                                                                               
                                                                            </tr>
                                                                            
                                       
                                        </tbody>
                                        {% endfor %}
                                      
                                    </table>
                        </div>
                        
                    </div>
                </div>
            </div>
            </div>
            <!-- #END# Basic Table -->
        </div>
        </div>
        </div>
        </div>

    </section>


        
{% endblock content %}

