{% extends 'index/base.html' %}
{% load static %}
{% block navbar %}
<div class="menu">
        <ul class="list">
            <li class="header">Dashboard</li>
           
        
                <li>
                    <a href="javascript:void(0);" class="menu-toggle active">
                            <i class="material-icons">layers</i>
                            <span>Assignment</span>
                    </a>
                    <ul class="ml-menu">
                        <li>
                            <a href="{% url 'customer:view_all_writers' %}">
                                <span>Assignment details</span>
                            </a>
                        </li>
                        <li>
                                <a href="{% url 'customer:favorite_writers' %}">
                                    <span>Favorite</span>
                                </a>
                            </li>
                        <li>
                            <a href="{% url 'customer:agric' %}">
                                <span>Hired Before</span>
                            </a>
                        </li>
                        <li>
                                <a href="{% url 'customer:invited' bid.order_uuid %}">
                                    <span>Invited</span>
                                </a>
                            </li>
                        <li>
                                <a href="{% url 'customer:economic' %}">
                                    <span>Assign A Writer</span>
                                </a>
                            </li>
                            <li>
                                    <a href="{% url 'customer:lifestyle' %}">
                                        <span>New Bids</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'customer:lifestyle' %}">
                                        <span>Shortlisted</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'customer:lifestyle' %}">
                                        <span>Declined</span>
                                    </a>
                                </li>
                                <li>
                                        <a href="{% url 'customer:lifestyle' %}">
                                            <span>Additional Files</span>
                                        </a>
                                    </li>
                    </ul>
                </li>
        
                <li>
                        <a href="{% url 'customer:view_transactions' %}" >
                                <i class="material-icons">account_balance_wallet</i>
                            <span>Wallet</span>
                        </a>
                </li>
                
                <li>
                    <a href="{% url 'blog' %}">
                        <i class="material-icons">widgets</i>
                        <span>Blogs</span>
                    </a>
                </li>
                
        
        </ul>
        </div>
{% endblock navbar %}
{% block content %}

    <section class="content">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-orange hover-expand-effect">
                            <div class="icon">
                             <a href="{% url 'customer:update_order' bid.order_uuid %}"><i class="material-icons">mode_edit</i></a>
                            </div>
                            <div class="content">
                                <div class="text">Edit Assignment</div>
                            </div>
                        </div>
        </div>
        </div>
            <!-- Example Tab -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                       
                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                                <li role="presentation" class="active"><a href="#home" data-toggle="tab">ORDER DETAILS</a></li>
                                <li role="presentation"><a href="#profile" data-toggle="tab">DESCRIPTIONS</a></li>
                                <li role="presentation"><a href="#messages" data-toggle="tab">MESSAGES</a></li>
                                <li role="presentation"><a href="#upload" data-toggle="tab">UPLOAD ADDITIONAL FILE</a></li>
                                <li role="presentation"><a href="#pay" data-toggle="tab">PAY WRITER</a></li>
                                <li role="presentation"><a href="#download" data-toggle="tab">DOWNLOAD ASSIGNMENT</a></li>



                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home">
                                    <div class="row clearfix" style="margin-top:30px;">
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                <div class="info-box">
                                                    <div class="content">
                                                        <div class="text"><b>TOPIC</b></div>
                                                        <p>{{ bid.topic }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                <div class="info-box">
                                                    <div class="content">
                                                            <div class="text"><b>TYPE</b></div>
                                                            <p>{{ bid.order_type }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                <div class="info-box">
                                                    <div class="content">
                                                            <div class="text"><b>SERVICE</b></div>
                                                            <p>{{ bid.service }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                <div class="info-box">
                                                    <div class="content">
                                                            <div class="text"><b>SOURCE</b></div>
                                                            <p>{{ bid.sources }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row clearfix" style="margin-top:30px;">
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                    <div class="info-box">
                                                        <div class="content">
                                                                <div class="text"><b>STYLE</b></div>
                                                                <p>{{ bid.style }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                    <div class="info-box">
                                                        <div class="content">
                                                            <div class="text"><b>SUBJECT</b></div>
                                                        <p>{{ bid.subject }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                    <div class="info-box">
                                                        <div class="content">
                                                           <div class="text"><b>LEVEL</b></div>
                                                        <p>{{ bid.level }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                    <div class="info-box">
                                                        <div class="content">
                                                                <div class="text"><b>PAGE</b></div>
                                                                <p>{{ bid.pages }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="profile">
                                    
                                    
                                    <p>
                                       {{ bid.description }}
                                    </p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="messages">
                                        <div class="media">
                                                <div class="media-left">
                                                    <a href="javascript:void(0);">
                                                        <img class="media-object" src="http://placehold.it/64x64" width="64" height="64">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading">Media heading</h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                    ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                                    turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis
                                                    in faucibus.
                                                </div>
                                            </div>
                                            <div class="media">
                                                    <div class="media-body">
                                                        <h4 class="media-heading">Media heading</h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                        ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                                        turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis
                                                        in faucibus.
                                                    </div>
                                                    <div class="media-left">
                                                            <a href="javascript:void(0);">
                                                                <img class="media-object" src="http://placehold.it/64x64" width="64" height="64">
                                                            </a>
                                                        </div>
                                                </div>
                                                <div class="row clearfix">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <textarea rows="4" class="form-control no-resize" placeholder="Please type what you want..."></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="button-demo">
                                                            <button type="button" class="btn btn-success waves-effect">SEND MESSAGE</button>
                                                        </div>
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="upload">
                                    <b>Add additional file</b>
                                    <form action="{% url 'customer:add_files'  bid.order_uuid %}" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                    <div class="custom-file row">
                                            <div class="col-lg-12">
                                                    {{ form.files }}
                                                </div>
                                                <div class="col-lg-12">
                                                        <button type="submit" class="btn btn-primary" >
                                                                Upload
                                                        </button>
                                                        {% for file in files %}
                                                {{ file }}
                                                {% endfor %}

                                                </div>
                                                
                                    </div>
                                    </form>
                                            
                                </div>

                                
                                <div role="tabpanel" class="tab-pane fade" id="pay">
                                        <b>Place Payment</b>
                                        <div class="row">
                                        <div class="irs-demo col-lg-12">
                                                <p style="margin-top: 20px;">Set what percentage to pay</p>
                                                <input type="text" id="range_01" value="" />
                                        </div>
                                            <div class="col-lg-4">
                                                    <a href="#" type="button" class="btn btn-primary waves-effect m-r-20" data-toggle="modal" data-target="#confirm">
                                                            PLACE PAYMENT
                                                    </a>
                                            </div>
                                            <div class="col-lg-4">
                                                    <a href="#" type="button" class="btn btn-primary waves-effect m-r-20" data-toggle="modal" data-target="#end">
                                                            END CONTRACT
                                                    </a>
                                            </div> 
                                            <div class="col-lg-4">
                                                    <a href="#" type="button" class="btn btn-primary waves-effect m-r-20" data-toggle="modal" data-target="#cancel">
                                                            CANCEL
                                                    </a>
                                            </div> 
                                        </div>  
                                        
                                        <!-- Small Size -->
            <div class="modal fade" id="confirm" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="smallModalLabel">Confirm Placed Payment</h4>
                        </div>
                        <div class="modal-body">
                           Are you sure you want to continue
                        </div>
                        <div class="modal-footer">
                            <button type="button"  data-color="green" class="btn bg-green waves-effect">PLACE PAYEMENT</button>
                            <button type="button" data-color="red" class="btn bg-red waves-effect" data-dismiss="modal">CANCEL</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="end" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="smallModalLabel">Confirm Termination</h4>
                            </div>
                            <div class="modal-body">
                               Are you sure you want to End Contract
                            </div>
                            <div class="modal-footer">
                                <button type="button"  data-color="green" class="btn bg-green waves-effect">END CONTRACT</button>
                                <button type="button" data-color="red" class="btn bg-red waves-effect" data-dismiss="modal">CANCEL</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="cancel" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="smallModalLabel">Cancel Order</h4>
                                </div>
                                <div class="modal-body">
                                   Are you sure you want to Cancel Contract
                                </div>
                                <div class="modal-footer">
                                    <button type="button"  data-color="green" class="btn bg-green waves-effect">YES</button>
                                    <button type="button" data-color="red" class="btn bg-red waves-effect" data-dismiss="modal">NO</button>
                                </div>
                            </div>
                        </div>
                    </div>
            
                                    </div>

                                    <div role="tabpanel" class="tab-pane fade" id="download">
                                        <form class="rating" id="form_advanced_validation">

                                                <div class="custom-file row" style="margin-top: 30px;">
                                                
                                                        <div class="col-lg-4">
                                                                <p  style="font-size: 20px;"><b>Rate Writer:  </b><input type="number" name="your_awesome_parameter" id="rating-inline" class="rating" data-clearable="remove" data-inline/></p>
                                                        </div>
                                                        <div class="col-lg-8">
                                                                <div class="form-group form-float">
                                                                        <div class="form-line">
                                                                            <input type="text" class="form-control" name="minmaxlength" maxlength="10" minlength="3" required>
                                                                            <label class="form-label">Min. 30 characters</label>
                                                                        </div>
                                                                    </div>
                                                    </div>
                                            </div>
                                            
                                        <div class="custom-file row" style="margin-top: 30px;">
                                                
                                                    <div class="col-lg-3">
                                                            <button type="file" class="btn btn-primary">
                                                                    DOWNLOAD ASSIGNMENT
                                                            </button>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <button type="file" class="btn btn-primary">
                                                               RATE/REVIEW
                                                        </button>
                                                </div>
                                        </div>
                                    </form>   
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Example Tab -->
            <!-- Tabs With Only Icon Title -->
            
        </div>
    </section>

    <!-- Jquery Core Js -->
    <script>
    $(':radio').change(function() {
  console.log('New star rating: ' + this.value);
});
    </script>
    <script src="../../plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="../../plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="../../plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="../../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="../../plugins/node-waves/waves.js"></script>

    <!-- Custom Js -->
    -- RangeSlider Plugin Js -->
    <script src="../../plugins/ion-rangeslider/js/ion.rangeSlider.js"></script>

    <!-- Custom Js -->
    <script src="../../js/admin.js"></script>
    <script src="../../js/pages/ui/range-sliders.js"></script>

    <!-- Demo Js -->
    <script src="../../plugins/sweetalert/sweetalert.min.js"></script>

    <!-- Custom Js -->
    <script src="../../js/admin.js"></script>
    <script src="../../plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="../../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="../../plugins/node-waves/waves.js"></script>

    <!-- SweetAlert Plugin Js -->
    <script src="{% static 'sweetalert/sweetalert.min.js' %}"></script>

    <!-- Custom Js -->
    <script src="../../js/pages/ui/dialogs.js"></script>

    <!-- Demo Js -->
    <script src="../../js/demo.js"></script>
    <script src="{% static 'jsnew/rating2.js' %}"></script>

{% endblock content %}
