<!-- MAIN CONTENT-->
{% extends 'customer/base.html' %}
{% load static %}
{% block content %}
<div class="main-content" style="background-color: #fff;">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1" style="margin-top: 50px;margin-bottom: 50px;">Place Orders</h2>
                    </div>
                </div>
            </div>
        </div>
             <div class="row">
                 <div class="col-lg-4">
                      <!-- TOP CAMPAIGN-->
                      {% include 'customer/bids/base.html' %}
                    <!--  END TOP CAMPAIGN-->
                 </div>
                 <div class="col-lg-8 write-col">
                        <div class="row write-frame" style="padding: 20px;margin-right: 20px;">
                            <div class="card">
                                <h5 class="card-header mr-auto" style="float: left">Adekunle Sampuel  <span class="badge badge-success" style="margin-left: 10px; font-size: 15px;"> Bid:  $300 </span></h5>
                                <div class="card-body">
                                  <div class="row">
                                        <div class="col-md-2">
                                            <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid writer-img"/>
                                        </div>
                                        <div class="col-lg-10">
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <p><b>Orders</b></p>
                                                </div>
                                                <div class="col-lg-3">
                                                    <p><b>Reviews</b></p>
                                                </div>   
                                                <div class="col-lg-3">
                                                    <p><b>Rating</b></p>
                                                </div>
                                                 <div class="col-lg-3">
                                                    <p><b>completion</b></p>
                                                </div>   
                                            </div>
                                            <div class="row">
                                                    <div class="col-lg-3">
                                                        <p>234</p>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <p> 20</p>
                                                    </div>   
                                                    <div class="col-lg-3">
                                                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="progress mb-3">
                                                        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%" aria-valuenow="5"
                                                         aria-valuemin="0" aria-valuemax="40"></div>
                                                    </div>
                                                    </div>   
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                    </div>
                                                    <div class="col-lg-4"></div>
                                                    <div class="col-lg-4">
                                                            <div class="table-data-feature">
                                                                    <div class="dropdown">
                                                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                                         Action
                                                                        </button>
                                                                        <div class="dropdown-menu">
                                                                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#cancel"><span><i class="fas fa-certificate" style="color:green"></i></span>  Add to favorites</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                    </div>
                                                </div>
                                        </div>
                                  </div>
                                </div>
                              </div>
                                </div>
                            </div>
                 </div>
            </div>
    </div>
    {% endblock content %}