
{% extends "base.html" %}

{% load  static %}

{% block content %}




 <header class="masthead how-to-order text-center text-white d-flex">
    <div class="container my-auto">
            <h1>Order an Essay at EssayPro</h1>
            <hr>
            <p>Our essay writing service employs hundreds of qualified essay writers who specialize in different subject areas. It allows us to create a wide variety of papers on any topic and always achieve a good result. We also guarantee fast delivery 100% plagiarism free content, protection of your personal information, and low-cost and flawless quality!</p>
    </div>
  </header>


  <section class="sect">
        <div class="container-fluid">
            <div class="row">
                    <div class="col-lg-6">
                            <div class="row">
                                              <div class="numberCircle">1</div>
                                                <h2 class="circle-h1">Place an order online</h2>
                                        </div>
                                        <div class="row">
                                            <div>
                                                <p>Once you have created your account at EssayPro, simply submit the assignment details such as topic, the number of pages, different sources needed, formatting style, and order deadline. It is also possible to upload any additional files to further help the essay writer with the task and imitating your writing style.</p>
                                            </div>
                                        </div>
                                      </div>
                <div class="col-lg-6">
                    <img>
                </div>
            </div>
        </div>
    </section>


  <section class="sect">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <img>
                </div>
            <div class="col-lg-6">
                    <div class="row">
                                      <div class="numberCircle">1</div>
                                        <h2 class="circle-h1">Place an order online</h2>
                                </div>
                                <div class="row">
                                    <div>
                                        <p>Once you have created your account at EssayPro, simply submit the assignment details such as topic, the number of pages, different sources needed, formatting style, and order deadline. It is also possible to upload any additional files to further help the essay writer with the task and imitating your writing style.</p>
                                    </div>
                                </div>
                              </div>
            </div>
        </div>
    </section>

    <section class="sect">
            <div class="container-fluid">
                <div class="row">
                        <div class="col-lg-6">
                                <div class="row">
                                                  <span class="numberCircle">1</span>
                                                    <h2 class="circle-h1">Place an order online</h2>
                                            </div>
                                            <div class="row">
                                                <div>
                                                    <p>Once you have created your account at EssayPro, simply submit the assignment details such as topic, the number of pages, different sources needed, formatting style, and order deadline. It is also possible to upload any additional files to further help the essay writer with the task and imitating your writing style.</p>
                                                </div>
                                            </div>
                                          </div>
                    <div class="col-lg-6">
                        <img>
                    </div>
                </div>
            </div>
        </section>

        <section class="sect">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <img>
                        </div>
                    <div class="col-lg-6">
                            <div class="row">
                                              <div class="numberCircle">1</div>
                                                <h2 class="circle-h1">Place an order online</h2>
                                        </div>
                                        <div class="row">
                                            <div>
                                                <p>Once you have created your account at EssayPro, simply submit the assignment details such as topic, the number of pages, different sources needed, formatting style, and order deadline. It is also possible to upload any additional files to further help the essay writer with the task and imitating your writing style.</p>
                                            </div>
                                        </div>
                                      </div>
                    </div>
                </div>
            </section>


            {% endblock %}