
{% extends "base.html" %}

{% load  static %}

{% block content %}

   <!--================Home Banner Area =================-->
   <section class="home_banner_area" id="home">
    <div class="banner_inner">
<div class="container">
  <div class="row banner_content">
    <div class="col-lg-8">
      <h2>Essay delimma?<br />Hire a Writer.</h2>
      <p style="font-size: 24px;">We’ll make the grade</p>
      <a class="banner_btn btn-header" id="findwriter" href="{% url 'become-a-writer' %}">Become a writer</a>
      <a class="banner_btn btn-header" id="signup" href="{% url 'account_signup' %}">Signup</a>
    </div>
    <div class="col-lg-4">
        <div class="container"> 
            <form action="#" class="bg-white rounded pb_form_v1">
                <h2 class="mb-4 mt-0 text-center" style="font-size: 20px;color: #000;">Calculate Price</h2>
                <div class="form-group">
                    <div class="pb_select-wrap">
                      <select class="form-control pb_height-50 reverse">
                        <option value="" selected>Writing</option>
                        <option value="">Rewriting</option>
                        <option value="">Editing</option>
                      </select>
                    </div>
                  </div>
                <div class="form-group">
                    <div class="pb_select-wrap">
                      <select class="form-control pb_height-50 reverse">
                        <option value="" selected>Essay(Any)</option>
                        <option value="">Admission Essay</option>
                        <option value="">Annotated Bibliography</option>
                        <option value="">Article Review</option>
                        <option value="">Book/Movie Review</option>
                        <option value="">Business Plan</option>
                        <option value="">Case Study</option>
                        <option value="">Course Work</option>
                        <option value="">Creative Writing</option>
                        <option value="">Course Work</option>
                        <option value="">Critical Thinking/Review</option>
                        <option value="">Literature Review</option>
                        <option value="">Multiple Choice Question</option>
                        <option value="">Presentation or Speech</option>
                        <option value="">Reflextive Writing</option>
                        <option value="">Report</option>
                        <option value="">Research Paper</option>
                        <option value="">Research proposal</option>
                        <option value="">Term Paper</option>
                        <option value="">Thesis </option>
                        <option value="">Others</option>
                      </select>
                    </div>
                  </div>
                <div class="form-group">
                    <div class="pb_select-wrap">
                      <select class="form-control pb_height-50 reverse">
                        <option value="" selected>6 Hours</option>
                        <option value="">12 Hours</option>
                        <option value="">1 Day</option>
                        <option value=""> 1 Week</option>
                        <option value="">2 Weeks</option>
                        <option value="">1  Month</option>
                        <option value="">2 Months</option>
                      </select>
                    </div>
                  </div>
                <div class="form-group">
                  <div class="pb_select-wrap">
                    <div class="col-xs-3 col-xs-offset-3">
                      <div class="input-group number-spinner">
                        <span class="input-group-btn">
                          <button class="btn btn-default" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                        </span>
                        <input type="text" class="form-control text-center" value="1">
                        <span class="input-group-btn">
                          <button class="btn btn-default" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <h3 class="text-center" style="color:#000;">$44:23</h3>
                <div class="form-group">
                  <input type="submit" class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue" value="Register">
                </div>
              </form> 
            </div>
    </div>
  </div>
</div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Feature Area =================-->
<section class="feature_area p_120" id="feature">
  <div class="container">
    <div class="main_title">
      <h2 style="padding-left: 70px; padding-right: 70px;" id="header">Unique Features Need a high-quality custom essay?    Let EssayPro handle it for you!</h2>
      <p style="font-size: 18px;">Our essay writers will gladly help you with:</p>
    </div>
    <div class="feature_inner row">
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="{% static 'img/icon/f-icon-1.png' %}" alt="">
           <p class="p1">Custom Essay (any type)</p>
                     <p class="p1">Admission Essay</p>
                     <p class="p1">Annotated Bibliography</p>
                     <p class="p1">Article Review</p>
                     <p class="p1">Book / Movie Review</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="{% static 'img/icon/f-icon-1.png' %}" alt="">
      <p class="p1">Business Plan</p>
      <p class="p1">Case Study</p>
      <p class="p1">Coursework</p>
      <p class="p1">Creative Writing</p>
      <p class="p1">Critical Thinking / Review</p>
    </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="{% static 'img/icon/f-icon-1.png' %}" alt="">
      <p class="p1">Literature Review</p>
      <p class="p1">Multiple Choice Questions</p>
      <p class="p1">Presentation or Speech</p>
      <p class="p1">Reflective Writing</p>
      <p class="p1">Report</p>
    </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="{% static 'img/icon/f-icon-1.png' %}" alt="">
      <p class="p1">Literature Review</p>
      <p class="p1">Multiple Choice Questions</p>
      <p class="p1">Presentation or Speech</p>
      <p class="p1">Reflective Writing</p>
      <p class="p1">Report</p>
    </div>
      </div>
</div>
<div class="row">
  <div class="col text-center" style="margin-top: 90px;">
    <a class="banner_btn success-border circle btn-header" href="{% url 'account_signup' %}">Order Now</a>
  </div>
</div>
  </div>
</section>

<section id="portfolio">
<div class="container-fluid p-0">
<h2 class="section-heading text-center" style="margin-bottom: 50px; padding-top: 80px;">How to Order an Essay</h2>
<div class="row">
<div class="col-lg-7 col-md-7">
  <div class="container">
  <img src="">
  </div>
</div>
<div class="col-lg-5 col-md-5" id="instructon">
  <div class="row how" id="how1">
  <h4>1. Submit an Order</h4>
  <div class="col-lg-4 col-md-4">
    <span></span>
  </div>
  <div class="col-lg-8 col-md-8">
    <p>Fill in your paper requirements and place an order. You will receive price offers from our experts within a few minutes.</p>
  </div>
  </div>
  <div class="row how" id="how2">
    <h4>2. Pick a Writer</h4>
    <div class="col-lg-4 col-md-4">
    <span></span>
    </div>
    <div class="col-lg-8 col-md-8">
      <p>Choose the most suitable essay writer by price, rating and customer reviews. Deposit the contract amount and our professor will begin to write an essay for you.</p>
    </div>
  </div>
  <div class="row how" id="how3">
    <h4>3. Download your Paper</h4>
    <div class="col-lg-4 col-md-4">
      <span></span>
    </div>
    <div class="col-lg-8 col-md-8">
      <p>Lastly, you will receive a final draft which you may proofread and edit with your writer. When it’s finished, release funds and leave review for your professional writer.</p>
    </div>
    </div>
    <div class="row how">
    <div class="col-lg-12 col-md-12 text-center">
      <a class="banner_btn btn-header" href="{% url  'how_it_works' %}" style="border-radius: 20px;">How It Works</a>
    </div>
    </div>
</div>
</div>
</div>
</section>


<section class="service_feature element_service">
    <div class="container">
        <div class="row">
  <div class="col-lg-12 text-center">
    <h2 class="section-heading">Features</h2>
  </div>
  </div>
        <div class="row feature_inner">
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                        <img src="{% static 'img/clock.svg' %}" alt="" style="width: 65px">
                    <h4>Any Deadline - Any Subject</h4>
                    <p>Our professional paper writers can complete any assignment, regardless of topic or difficulty.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                        <img src="{% static 'img/phone.svg' %}" alt="" style="width: 65px">
                    <h4>Email and SMS Notifications</h4>
                    <p>Stay informed 24/7 through order updates, new chat messages, uploaded files, etc.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                        <img src="{% static 'img/chat.svg' %}" alt="" style="width: 65px">
                    <h4>Online Writer Chat</h4>
                    <p>Communicate with your writer at any time to discuss assignment details, request edits, etc.</p>
                </div>
            </div>
</div>
<div class="row feature_inner">
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                        <img src="{% static 'img/card.svg' %}" alt="" style="width: 65px">
                    <h4>Detailed Writer Profiles</h4>
                    <p>Look through writer’s rates, reviews, # of completed assignments and subject proficiency.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                        <img src="{% static 'img/search.svg' %}" alt="" style="width: 65px">
                    <h4>Plagiarism Free Papers</h4>
                    <p>EssayPro has a strict plagiarism policy. We run each paper through various plagiarism detection tools.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                        <img src="{% static 'img/wallet.svg' %}" alt="" style="width: 65px">
                    <h4>Affordable Prices</h4>
                    <p>We offer the lowest price per page in the industry at an average of $10 per page.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Feature Area =================-->

<!--================Interior Area =================-->
<section class="interior_area" id="background" style="background-color: #cdbdd6;">
  <div class="container">
    <div class="interior_inner row">
    <div class="col-lg-5">
      <div class="interior_text">
      <h4>We Believe that Interior beautifies the Total Architecture</h4>
      <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed off.</p>
      <a class="main_btn btn-header" href="#">We can Do That</a>
    </div>
      </div>
      <div class="col-lg-7">
        <div>
          <img src="{% static 'img/reading.gif' %}" style="width:600px;" id="reading">
        </div>
      </div>
         </div>
      </div>
</section>



<section class="service_feature element_service">
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">Features</h2>
    </div>
    </div>
  <div class="row feature_inner">
    <div class="col-lg-3 col-md-3 col-sm-6">
      <div class="feature_item">
            <div class="single_sidebar_widget author_widget">
              <img class="author_img rounded-circle" src="{% static 'img/blog/author.png' %}" alt="">
              <h4>Charlie Barber</h4>
              <p>Orders Completed</p>
              <div class="social_icon">
                <p>454</p>
              </div>
              <p>Boot camps have its supporters andit sdetractors.</p>
              <div class="br"></div>
              <div id="stars-existing" class="starrr" data-rating='4'></div>
            </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
      <div class="feature_item">
          <div class="single_sidebar_widget author_widget">
              <img class="author_img rounded-circle" src="{% static 'img/blog/author.png' %}" alt="">
              <h4>Charlie Barber</h4>
              <p>Orders Completed</p>
              <div class="social_icon">
                <p>454</p>
              </div>
              <p>Boot camps have its supporters andit sdetractors.</p>
              <div class="br"></div>
              <div id="stars-existing" class="starrr" data-rating="4"></div>
            </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
      <div class="feature_item">
          <div class="single_sidebar_widget author_widget">
              <img class="author_img rounded-circle" src="{% static  'img/blog/author.png' %}" alt="">
              <h4>Charlie Barber</h4>
              <p>Orders Completed</p>
              <div class="social_icon">
                <p>454</p>
              </div>
              <p>Boot camps have its supporters andit sdetractors.</p>
              <div class="br"></div>
              <div id="stars-existing" class="starrr" data-rating='4'></div>
            </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="feature_item">
            <div class="single_sidebar_widget author_widget">
                <img class="author_img rounded-circle" src="{% static 'img/blog/author.png' %}" alt="">
                <h4>Charlie Barber</h4>
                <p>Orders Completed</p>
                <div class="social_icon">
                    <p>454</p>
                </div>
                <p>Boot camps have its supporters andit sdetractors.</p>
                <div class="br"></div>
                <div id="stars-existing" class="starrr" data-rating='4'></div>
              </div>
        </div>
      </div>
  </div>
</div>
</section>



<section class="container-fluid s-7"style="padding-top: 80px; padding-bottom: 20px; height: 450px;">
  <div class="container">
    <div class="row">
       <div class="col-lg-6">
       <img src="{% static 'img/face.png' %}" class="img-fluid">
       </div>
       <div class="col-lg-6">
       <div class="row">
         <h2 class="h--md">People Trust Us</h2>
       </div>
       <div class="row">
        <p>15+ years of experience in custom writing and focus on quality makes us a reliable essay writing service on the market. We help thousands of students every year who often become our satisfied customers and fans.</p>
       </div>
        <div class="row">
        <div class="col-lg-12">
          <ul class="socialIcons">
            <li class="facebook"><a href="#"><i class="fa fa-fw fa-facebook"></i>Facebook</a></li> 
            <li class="twitter"><a href="#"><i class="fa fa-fw fa-twitter"></i>Twitter</a></li> 
            <li class="instagram"><a href="#"><i class="fa fa-fw fa-instagram"></i>Instagram</a></li> 
           </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
<!--================End Testimonials Area =================-->

<section class="testimonials_area p_120">
  <div class="container">
    <div class="main_title">
      <h2>Testimonials</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
    </div>
    <div class="testi_slider owl-carousel">
      <div class="item">
        <div class="testi_item">
      <div class="media">
        <div class="d-flex">
          <img src="{% static 'img/testimonials/testi-1.png' %}" alt="">
        </div>
        <div class="media-body">
          <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
          <h4>Mark Alviro Wiens</h4>
          <h5>Order 987683</h5>
        </div>
      </div>
        </div>
      </div>
      <div class="item">
        <div class="testi_item">
      <div class="media">
        <div class="d-flex">
          <img src="{% static 'img/testimonials/testi-2.png' %}" alt="">
        </div>
        <div class="media-body">
          <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
          <h4>Mark Alviro Wiens</h4>
          <h5>Order 687383</h5>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Testimonials Area =================-->


<section class="section s-10">
  <div class="container l-0">
    <div class="row">
    <div class="col-lg-6 s-10__content s-10__content-block">
      <h3 class="h--sm">High-quality Essay Writing Service</h3>
      <p class="p--sm">We are an essay writing service for students that offers custom essay help at an affordable price. Our company incorporates an accessible website, professional support team and highly skilled writers; this trio can only be provided by the best and most reliable writing service on the market. In addition to paper writing, we present editing and proofreading work upon inquiry.</p>
      <p class="p--sm">We provide students with even the most urgent writing assignments. It is our prerogative to accommodate high quality along the way. We make it a priority to satisfy any college paper assistance the customer might request.</p>
    </div>
    <div class="col-lg-6 s-10__content s-10__content-block">                     
      <h3 class="h--sm">Write My Essay</h3>
      <p class="p--sm">If you are looking for reviews, we have included an open feedback section within the core of the website. Feel free to explore the assessments of work we provided by other users. Our company values your feedback and uses it as a tool for measuring growth and development; doing these helps us meet your needs for future requests. If you are having doubts, check out our Reviews page to see what other customers have to say about EssayPro</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 s-10__content s-10__content-block">
      <h3 class="h--sm">High-quality Essay Writing Service</h3>
      <p class="p--sm">We are an essay writing service for students that offers custom essay help at an affordable price. Our company incorporates an accessible website, professional support team and highly skilled writers; this trio can only be provided by the best and most reliable writing service on the market. In addition to paper writing, we present editing and proofreading work upon inquiry.</p>
      <p class="p--sm">We provide students with even the most urgent writing assignments. It is our prerogative to accommodate high quality along the way. We make it a priority to satisfy any college paper assistance the customer might request.</p>
      </div>
      <div class="col-lg-6 s-10__content s-10__content-block">
        <h3 class="h--sm">Write My Essay</h3>
        <p class="p--sm">Our website’s system is very user-friendly, with automatic functions to maintain a soothing experience. Our integrated helper team will answer any questions you might have along the way. Furthermore, our service is entirely legal and legitimate.</p>
        <p class="p--sm">If you are looking for reviews, we have included an open feedback section within the core of the website. Feel free to explore the assessments of work we provided by other users. Our company values your feedback and uses it as a tool for measuring growth and development; doing these helps us meet your needs for future requests. If you are having doubts, check out our Reviews page to see what other customers have to say about EssayPro</p>
      </div>
    </div>
  </div>
  </section>

<!--================Interior Area =================-->
          <!--================End Latest News Area =================-->

    {% endblock %}