<!-- MAIN CONTENT-->
{% extends 'index/base.html' %}
{% load static %}
{% load humanize %} 
{% block navbar %}
<div class="menu">
    <ul class="list">
<li>
    <a href="javascript:void(0);" class="menu-toggle active">
            <i class="material-icons">layers</i>
            <span>Writers</span>
    </a>
    <ul class="ml-menu">
        <li>
            <a href="{% url 'customer:view_all_writers' %}">
                <span>All Writers</span>
            </a>
        </li>
        <li>
                <a href="{% url 'customer:favorite_writers' %}">
                    <span>Favorite Writers</span>
                </a>
            </li>
            
       
    </ul>
    <li>
        <a href="{% url 'customer:view_transactions' %}" >
                <i class="material-icons">account_balance_wallet</i>
            <span>Wallet</span>
        </a>
</li>
    
    <li>
        <a href="{% url 'account_logout' %}">
            <i class="material-icons">arrow_back</i>
            <span>Logout</span>
        </a>
    </li>
              

</li>
</ul>
</div>
{% endblock navbar %}
{% block content %}
<section class="content">
        <div class="container-fluid">
                <div class="block-header">
                    <h2>DASHBOARD</h2>
                </div>
    
                <!-- Widgets -->
                {% include 'users/header.html' %}
                </div>
<div class="container-fluid">
         
<!-- Exportable Table -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                    <h2>
                      All WRITER
                    </h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    {% if writers %}
                    {% for writer in writers %}
                        <div class="row">

                            <div>
                                <div class="col-sm-9" style="padding: 40px;">
                                    <hr/>
                                    <div class="review-block">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <img src="{% static 'images/yong.jpg' %}" class="rounded-circle img-fluid" style="max-width: 55%; height: auto; margin-bottom: 20px;">
                                                <div class="review-block-name"><a href="#" style="font-size: 15px;">{{ writer.full_name }}</a></div>
                                                {% if writer.profile_id.login_status %}
                                                <div class="review-block-date">Online</div>
                                                {% else %}

                                                <div class="review-block-date">last seen {{ writer.profile_id.last_login|naturaltime }}</div>
                                                {% endif %}
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="review-block-rate">
                                                    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                    </button>
                                                    <div>
                                                        <h4>3.0</h4>
                                                    </div>
                                                </div>
                                                <div class="review-block-description row">
                                                    <div class="col-lg-3 col-md-3">
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;" data-toggle="tooltip" data-placement="top" title="Completion Rate">
                                                            75%
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3"><b>450 Orders Completed</b></div>
                                                    <div class="col-lg-3 col-md-3"><b>450 Reviews</b></div>
                                                    <div class="col-lg-3 col-md-3">
                                                            <div class="btn-group">
                                                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        ACTION <span class="caret"></span>
                                                                    </button>
                                                                    
                                                                    
                                                                    <ul class="dropdown-menu">
                                                                            {% if  writer.favorite_writer.is_fav %}
                                                                           
                                                                            <li><a href="javascript:void(0);"><div class="demo-google-material-icon"> <i class="material-icons">person_add</i> <span class="icon-name"></span> </div>

                                                                                
                                                                                Hire A Writer</a>


                                                                            </li>
                                                                            
                                                                            
                                                                                    
                                                                        <li><a href="{% url 'customer:remove_from_favorite' writer.id %}">
                                                                                <div class="demo-google-material-icon"> <i class="material-icons">thumbs_up_down</i> <span class="icon-name"></span></div>Remove from Favorite</a>
                                                                           
                                                                        </li>  
                                                                        {% else %}
                                                                        <li><a href="javascript:void(0);"><div class="demo-google-material-icon"> <i class="material-icons">person_add</i> <span class="icon-name"></span> </div>

                                                                                
                                                                            Hire A Writer</a>


                                                                        </li>
                                                                        
                                                                        
                                                                                
                                                                    
                                                                       
                                                                     
                                                                       
                                                                       
                                                                        
                                                                        <li><a href="{% url 'customer:add_to_favorite' writer.id %}">                 
                                                                                <div class="demo-google-material-icon"><i class="material-icons">thumb_up</i> <span class="icon-name"></span> </div>
                                                                                Add To Favorite</a></li>
                                                                    

                                                                            
                                                                    </ul>
                                            
                                                                {% endif %}

                                                               

                                                                        
                                                                    

                                                                </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr/>
                                    </div>
                                </div>
                            </div>
                            
                </div>
                {% endfor %}
                {% else %}
                <p>No available writers</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- #END# Exportable Table -->
</div>
</section>
<!-- #END# Widgets -->
<!-- CPU Usage -->
    {% endblock content %}