

{% extends 'customer/base.html' %}
{% block content %}
{% load static %}


 <!-- MAIN CONTENT-->
 <div class="main-content" style="background-color: #fff;">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1" style="margin-top: 50px;margin-bottom: 50px;">Order {{ bid.order_uuid }}</h2><hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
             <div class="row">
                    <div class="col-lg-4">
                        <!-- START TOP CAMPAIGN-->
                        {% include 'customer/bids/base.html' %}
                             <!--  END TOP CAMPAIGN-->
                       </div>
                <div class="col-lg-8">
                  <!-- TOP CAMPAIGN-->
                  <div class="top-campaign">
                        <h3 class="title-3 m-b-30">Assignment Details</h3>
                        <div class="table-responsive">
                            <table class="table table-top-campaign">
                                <tbody>
                                    <tr>
                                        <td><b>Type:</b></td>
                                        <td>{{ bid.type }} </td>
                                    </tr>
                                    <tr>
                                        <td><b>Topic:</b></td>
                                        <td>{{ bid.topic }}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Pages:</b></td>
                                        <td>{{ bid.pages }}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Description</b></td>
                                        <td>{{ bid.description }}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Service:</b></td>
                                        <td>{{ bid.service }}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Deadline:</b></td>
                                        <td>{{ bid.deadline }}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Sources:</b></td>
                                        <td>{{ bid.sources }}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Style:</b></td>
                                        <td>{{ bid.style }}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Subject:</b></td>
                                        <td>{{ bid.subject }}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Level:</b></td>
                                        <td>{{ bid.level }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a class="btn btn-primary " style="float:right; margin-top: 40px;" href="{% url 'customer:update_order' bid.order_uuid %}">Edit Order</a>
                        </div>
                       
                    </div>                                
                </div>
            </div>
        </div>
    </div>
<!-- END MAIN CONTENT-->
<!-- END PAGE CONTAINER-->
</div>
{% endblock content %}


    <!-- END MAIN CONTENT-->

