









 <!-- MAIN CONTENT-->
 <div class="main-content" style="background-color: #fff;">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1" style="margin-top: 50px;margin-bottom: 50px;">Place Orders</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
             <div class="row">
                    <div class="col-lg-4">
                            <!-- TOP CAMPAIGN-->
                          <div class="top-campaign">
                              <div class="table-responsive">
                                  <table class="table table-top-campaign">
                                      <tbody>
                                          <tr>
                                              <td>Assignment Details</td>
                                              <td><span class="badge badge-primary">5</span></td>
                                          </tr>
                                          <tr>
                                              <td>Additional Files</td>
                                              <td><span class="badge badge-primary">5</span></td>
                                          </tr>
                                          <tr>
                                              <td>Invite Writers</td>
                                              <td><span class="badge badge-primary">5</span></td>
                                          </tr>
                                          <tr>
                                              <td>Favorite</td>
                                              <td><span class="badge badge-primary">5</span></td>
                                          </tr>
                                          <tr>
                                              <td>Hired Before</td>
                                              <td><span class="badge badge-primary">5</span></td>
                                          </tr>
                                          <tr>
                                              <td>Invited</td>
                                              <td><span class="badge badge-primary">5</span></td>
                                          </tr>
                                          <tr>
                                              <td>Assign A Writer</td>
                                              <td><span class="badge badge-primary">5</span></td>
                                          </tr>
                                          <tr>
                                              <td>New Bids</td>
                                              <td><span class="badge badge-primary">5</span></td>
                                          </tr>
                                          <tr>
                                              <td>Shortlisted</td>
                                              <td><span class="badge badge-primary">5</span></td>
                                          </tr>
                                          <tr>
                                              <td>Declined</td>
                                              <td><span class="badge badge-primary">5</span></td>
                                          </tr>
                                          <tr>
                                              <td>5. France</td>
                                              <td><span class="badge badge-primary">5</span></td>
                                          </tr>
                                          <tr>
                                              <td>4. Germany</td>
                                              <td><span class="badge badge-primary">5</span></td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                          <!--  END TOP CAMPAIGN-->
                       </div>
                <div class="col-lg-8">
                  <!-- TOP CAMPAIGN-->
                  <div class="top-campaign">
                        <h3 class="title-3 m-b-30">Assignment Details</h3>
                        <div class="table-responsive">
                            <table class="table table-top-campaign">
                                <tbody>
                                    <tr>
                                        <td><b>Type:</b></td>
                                        <td>Writing</td>
                                    </tr>
                                    <tr>
                                        <td><b>Topic:</b></td>
                                        <td>Herbal Medicine As An Alternative</td>
                                    </tr>
                                    <tr>
                                        <td><b>Pages:</b></td>
                                        <td>1(275 words)</td>
                                    </tr>
                                    <tr>
                                        <td><b>Description</b></td>
                                        <td>The herbal medicine practice in Africa and the rest of the world.</td>
                                    </tr>
                                    <tr>
                                        <td><b>Service:</b></td>
                                        <td>Writing</td>
                                    </tr>
                                    <tr>
                                        <td><b>Deadline:</b></td>
                                        <td>Sep 30, 12:20 pm</td>
                                    </tr>
                                    <tr>
                                        <td><b>Sources:</b></td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td><b>Style:</b></td>
                                        <td>APA</td>
                                    </tr>
                                    <tr>
                                        <td><b>Subject:</b></td>
                                        <td>Alternative Medicine</td>
                                    </tr>
                                    <tr>
                                        <td><b>Level:</b></td>
                                        <td>University</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>                                
                </div>
            </div>
        </div>
    </div>
<!-- END MAIN CONTENT-->
<!-- END PAGE CONTAINER-->
</div>