

  <!-- TOP CAMPAIGN-->
  <div class="top-campaign">
        <div class="table-responsive">
            <table class="table table-top-campaign">
                <tbody>
                    <tr>
                        <td>Assignment Details</td>
                        <td><span class="badge badge-primary">5</span></td>
                    </tr>
                    <tr>
                        <td>Additional Files</td>
                        <td><span class="badge badge-primary">5</span></td>
                    </tr>
                    <tr>
                       <td> <a href="{url 'customer:invited_writers' %}">Invite Writers</a></td>
                        <td><span class="badge badge-primary">5</span></td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'customer:favourite_writers' %}">Favorite</a></td>
                        <td><span class="badge badge-primary">5</span></td>
                    </tr>
                    <tr>
                    <td><a href="{% url 'customer:hired_before' %}"> Hired Before </a></td>
                        <td><span class="badge badge-primary">5</span></td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'customer:invited' %}">Invited</a></td>
                        <td><span class="badge badge-primary">5</span></td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'customer:assign_writers' %}">Assign A Writer</a></td>
                        <td><span class="badge badge-primary">5</span></td>
                    </tr>
                    <tr>
                       <td> <a href="{% url 'customer:new_bids' %}">New Bids</a></td>
                        <td><span class="badge badge-primary">5</span></td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'customer:short_listed' %}">Shortlisted</a></td>
                        <td><span class="badge badge-primary">5</span></td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'customer:declined' %}">Declined</a></td>
                        <td><span class="badge badge-primary">5</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
