

<!-- MAIN CONTENT-->
<div class="main-content" style="background-color: #fff;">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1" style="margin-top: 50px;margin-bottom: 50px;">Place Orders</h2>
                    </div>
                </div>
            </div>
        </div>
             <div class="row">
                 <div class="col-lg-4">
                      <!-- TOP CAMPAIGN-->
                    <div class="top-campaign">
                        <div class="table-responsive">
                            <table class="table table-top-campaign ">
                                <tbody>
                                    <tr class="min-nav">
                                        <td><a href="#child4">Assignment Details</a></td>
                                        <td><span class="badge badge-primary">5</span></td>
                                    </tr>
                                    <tr  class="min-nav">
                                        <td><a href="#child4">Additional Files</a></td>
                                        <td><span class="badge badge-primary">5</span></td>
                                    </tr>
                                    <tr  class="min-nav">
                                        <td><a href="#child4">Invite Writers</a></td>
                                        <td><span class="badge badge-primary">5</span></td>
                                    </tr>
                                    <tr  class="min-nav">
                                        <td><a href="#child4">Favorite</a></td>
                                        <td><span class="badge badge-primary">5</span></td>
                                    </tr>
                                    <tr  class="min-nav">
                                        <td><a href="#child4">Hired Before</a></td>
                                        <td><span class="badge badge-primary">5</span></td>
                                    </tr>
                                    <tr  class="min-nav">
                                        <td><a href="#child4">Invited</a></td>
                                        <td><span class="badge badge-primary">5</span></td>
                                    </tr>
                                    <tr  class="min-nav">
                                        <td><a href="#child4">Assign A Writer</a></td>
                                        <td><span class="badge badge-primary">5</span></td>
                                    </tr>
                                    <tr  class="min-nav">
                                        <td><a href="#child4">New Bids</a></td>
                                        <td><span class="badge badge-primary">5</span></td>
                                    </tr>
                                    <tr  class="min-nav">
                                        <td><a href="#child4">Shortlisted</a></td>
                                        <td><span class="badge badge-primary">5</span></td>
                                    </tr>
                                    <tr  class="min-nav">
                                        <td><a href="#child4">Declined</a></td>
                                        <td><span class="badge badge-primary">5</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--  END TOP CAMPAIGN-->
                 </div>
                 <div class="col-lg-8 write-col">
                        <div class="row write-frame">
                                <div class="col-md-2">
                                    <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid writer-img"/>
                                </div>
                                <div class="col-md-10">
                                    <div class="row">
                                    <p>
                                        <a class="float-left" href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Maniruzzaman Akash</strong></a>
                                   </p>
                                   </div>
                                   <div class="row">
                                   <div class="clearfix"></div>
                                   <table>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="upper">
                                                <td class="writer-d text-center">Orders</td>
                                                <td class="writer-d text-center">Completion rate</td>
                                                <td class="writer-d text-center">Reviews</td>
                                                <td class="writer-d text-center">Rating    -4.0</td>
                                            </tr>
                                            <tr id="lower">
                                                <td class="writer-d text-center">46</td>
                                                <td class="writer-d text-center">
                                                    <div class="progress mb-3">
                                                        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%" aria-valuenow="5"
                                                         aria-valuemin="0" aria-valuemax="40"></div>
                                                    </div>
                                                </td>
                                                <td class="writer-d text-center"><a href="#">89</a></td>
                                                <td class="writer-d text-center"><span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                                    <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                                    <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                                    <span class="float-right"><i class="text-warning fa fa-star"></i></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                    <div>
                                   <button type="button" class="btn btn-primary dropdown-toggle js-acc-btn float-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action
                                      </button>
                                      <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Actions</a>
                                        <a class="dropdown-item" href="#">Invite A Writer</a>
                                      </div>
                                    </div>
                                   </div>
                                </div>
                            </div>
                 </div>
            </div>
    </div>